@import "../../app/app.scss";
page-login {
  ion-header{
    height: 167px;
  }
    .img-logo-login.card-title{
      position: absolute;
      top: 30%;
      font-size: 2em;
      width: 43%;
      font-weight: bold;
      color: #fff;
      left: 28%;
    }
  .item-md {
    padding-left: 0px !important;
  }
  ion-content {
    background-color: #E76114;
  }

  .text-input {
    border-bottom: 1x solid #717171
  }
  .officeButton {
    text-align: center;
    background: #EBEDF2;
    font-size: 16;
    padding: 6px;
    color: #3B3A3E;
    display: flex;
    align-items: center;

    img {
      height: 26px;
      margin-right: 0.5rem;
    }
  }
  .btn-detail {
    padding-top: 3px;
  }
  .loginStatus {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 20px;

  }
  .card-background-page {
    background: url('/assets/RECURSOS/LOGIN/back_quintero.png');
    background-size: cover;
    .img-top-login {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 30%;
      font-size: 2em;
      width: 43%;
      font-weight: bold;
      color: #fff;
      left: 28%;
    }
    .img-google-resources {
      vertical-align: middle;
    }
    .my-div-action-google {
      // padding-top: 5px;
      background-color: rgba(88, 88, 88, 0.11);
      width: 100%;
      height: 2.4em !important;
      font-weight: 800;
    }
    .float-right {
      float: right !important;
    }
  }
  .size-font {
    font-size: 12dp;
  }
  .item-md .item-button {
    height: 36px;
  }
  ion-card {
    border: none !important;
    // webkit-box-shadow: none;
    box-shadow: none !important;
  }

  ion-app.ios [padding-right]{
    padding-right: 0px !important;
  }
  ion-app.ios [padding-left]{
    padding-left: 0px !important;
  }
  .item-imput{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
.text-span {
  color: #b7b6b3;
}

.btn-login {
  margin-top: 25px !important;
}

.slideHide{
  display: none;
}

.login-img {
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 78px;
}

.title1 {
  color: #E76114;
  font-size: 12px;
  line-height: 22px;
}

.title2 {
  color: #717171;
  font-size: 12px;
  line-height: 22px;
}


page-login .item-imput {
  background: transparent;
  border-bottom: 1px solid #717171;
}

page-login .item-md {
  background: transparent !important;
}
