

<ion-content class="card-background-page">
    <img src="/assets/RECURSOS/LOGIN/logo_quintero_nj.png" class="login-img" />
    <div class="loginStatus" *ngIf="loginStatus">

    <div text-center padding>
      <ion-card no-shadow color="transparent-login">
        <!-- <ion-card-header  color="dark" class="bold"> -->
          <div class="title1">Hola familia.</div>
          <div class="title2">Por favor ingresa tus datos</div>
        <!-- </ion-card-header> -->
      </ion-card>
      <div [formGroup]="myGroup" padding *ngIf="myGroup">
        <ion-item padding-left padding-right class="item-imput">
          <ion-label stacked class="font-size-12" color="black" floating>{{ 'DATA.LOGIN.EMAIL_ADDRESS' | translate }}</ion-label>
          <ion-input class="font-size-12" formControlName="email" required color="black" [(ngModel)] = "email"  type="email" (keyup)="onKey()" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages?.email" >
            <div class="error-message" style="font-size: 1rem !important;" *ngIf="myGroup.get('email').hasError(validation.type) && (myGroup.get('email').dirty || myGroup.get('email').touched)">{{ validation.message }}</div>
          </ng-container>
        </div>


        <ion-item padding-left padding-right class="item-imput">
          <ion-label class="font-size-12" floating>{{ 'DATA.LOGIN.PASSWORD' | translate }}</ion-label>
          <ion-input class="font-size-12" [type]="passwordType" [(ngModel)] = "password" formControlName="password" required></ion-input>
          <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;" color="primaryBtn">
            <ion-icon [name]="passwordIcon" class="passwordIcon" style="font-size:32px;margin-top: 13px;"></ion-icon>
          </button>
        </ion-item>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages?.password" >
            <div class="error-message" style="font-size: 1rem !important;" *ngIf="myGroup.get('password').hasError(validation.type) && (myGroup.get('password').dirty || myGroup.get('password').touched)">{{ validation.message }}</div>
          </ng-container>
        </div>
      </div>
      <button
        float-left
        ion-button
        icon-start
        clear
        small
        (click)="opneModalForgotPassword()"
      >
        <div class="name_community_user_red font-size-10">
          <span text-capitalize text-left style="color: #E76114">{{
            "DATA.LOGIN.FORGOT_PASSWPRD" | translate
          }}</span>
        </div>
      </button>

      <div style="padding: 14px; " class="btn-login">
        <button
          text-capitalize
          ion-button
          block
          color="primaryBtn"
          class="font-size-12"
          (click)="Login()"
        >
          {{ "DATA.LOGIN.LOGIN" | translate }}
        </button>
      </div>
    </div>
  </div>
</ion-content>
