<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primaryNavHeader">
      <ion-title>
        <p class="text-white title-small-15">
          AGENDA
        </p>
      </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
      <ion-card style="min-height: 80vh">
        <ion-card-header>
          <ion-card-title class="calendar-label">{{data?.item}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid style="padding: 0">
            <ion-row>
              <ion-col>
                <span class="calendar-label">Hora: </span>
                <span class="calendar-value">{{ data?.time }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="calendar-label">{{ data?.info }}</span>
                <span class="calendar-value" [innerHTML]="data?.extra"></span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  {{ data?.description }}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <div style="font-weight: bold">Responsables:</div>
                  <div [innerHtml]="data?.responsiblesHtml">
                  </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  </ion-content>
  