<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.COMMUNITY.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons class="nav-icon" end (click)="blokedUsers()">
      <button ion-button icon-only end>
        <i class="fal fa-user-slash font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
    <ion-buttons class="nav-icon" end (click)="newPost()">
      <button ion-button icon-only end id="new-post">
        <i class="fal fa-file-plus font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content color="light">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none"
      pullingText="{{ 'DATA.PULL_TO_REFRESH.PULL_TO_REFRESH_MESSAGE' | translate}}"
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-card (click)="newPost()">
    <ion-item>
      <ion-avatar item-start>
        <img
          [src]="API.API_URL + '/' + me.avatar"
          width="30"
          class="image profile-image"
          onError="this.src='../../assets/user_default.jpg'"
        />
      </ion-avatar>
      <p class="opacity-87">{{ "DATA.COMMUNITY.MESSAGE_POST" | translate }}</p>
    </ion-item>
  </ion-card>

  <!-- No found -->
  <span [hidden]="publications.length != 0">
    <div>
      <ion-icon name="search" class="size-icon"></ion-icon>
      <p class="no-results">
        {{ "DATA.COMMUNITY.NO_COMMUNITY" | translate }}
      </p>
    </div>
  </span>
  <!-- end -->

  <ion-card *ngFor="let item of publications; let i = index">
    <ion-item>
      <ion-avatar class="border-avatar profile-image" item-start>
        <img
          [src]=" API.API_URL + '/' + item.user.avatar"
          width="30"
          onError="this.src='../../assets/user_default.jpg'"
        />
      </ion-avatar>
      <h2 class="name_community_user_red opacity-87 bold" text-wrap>
        {{ item.user.name + " " + item.user.last_name }}
        <span float-right class="color-icons-community" [hidden]="item.user.id == general.user.id"  (click)="report(item)">
          <i class="fas fa-flag "></i>
        </span>
      </h2>
      <p class="date-community date-publication-community">
        {{ item.time_ago }}
      </p>
    </ion-item>
    <span *ngIf="item.photo">
      <!-- <img src="{{ API.API_URL + '/' + item.photo || ( loadingAnimation ) }}"
        onError="this.src='../../assets/loadding.gif';"
        (click)=" showImageViewer( item.photo ? API.API_URL + '/' + item.photo : PUBLICATION_DEFAULT, item)"
      /> -->
      <img-loader src="{{ API.API_URL + '/' + item.photo || (fakeurl) }}" onError="this.src='../../assets/user_default.jpg'" (load)="onImageLoad($event)" (click)=" showImageViewer( item.photo ? API.API_URL + '/' + item.photo : PUBLICATION_DEFAULT, item)" useImg></img-loader>
      <div class="type-photo">
        <ion-card-content class="text-photo">
          <p>{{ item.text }}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <div class="total-shared">
              <span
                ><i class="fas fa-heart"></i
                ><span text-capitalize>
                  {{ item.likes_cant ? " " + item.likes_cant : " 0" }}</span
                ></span
              >
              <span class="comment-total"
                ><i class="fas fa-comment"></i
                ><span text-capitalize>
                  {{
                    item.comments_cant ? " " + item.comments_cant : "0"
                  }}</span
                ></span
              >
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="border-top">
          <ion-col>
            <button
              ion-button
              icon-start
              clear
              small
              class="style-shared"
              (click)="newLike(item)"
              [ngClass]="{ 'disabled-btn': item.my_like == 1 }"
            >
              <div>
                <span text-capitalize class="color-icons-community">
                  <i class="fas fa-heart"></i>
                  {{ "DATA.COMMUNITY.LIKE" | translate }}
                </span>
              </div>
            </button>
          </ion-col>

          <ion-col>
            <button
              ion-button
              icon-start
              clear
              small
              class="style-shared"
              float-right
              (click)="comments(item, i)"
            >
              <div>
                <span text-capitalize class="color-icons-community">
                  <i class="fas fa-comment"></i>
                  {{ "DATA.COMMUNITY.COMMENT" | translate }}
                </span>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </span>

    <span *ngIf="!item.photo">
      <ion-card-content>
        <p>{{ item.text }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <div class="total-shared">
            <span
              ><i class="fas fa-heart"></i
              ><span text-capitalize>
                {{ item.likes_cant ? " " + item.likes_cant : " 0" }}</span
              ></span
            >
            <span class="comment-total"
              ><i class="fas fa-comment"></i
              ><span text-capitalize>
                {{ item.comments_cant ? " " + item.comments_cant : "0" }}</span
              ></span
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="border-top">
        <ion-col>
          <button
            [ngClass]="{ 'disabled-btn': item.my_like == 1 }"
            ion-button
            icon-start
            clear
            small
            class="style-shared"
            (click)="newLike(item, i)"
          >
            <div>
              <span text-capitalize class="color-icons-community">
                <i class="fas fa-heart"></i>
                {{ "DATA.COMMUNITY.LIKE" | translate }}
              </span>
            </div>
          </button>
        </ion-col>

        <ion-col>
          <button
            ion-button
            icon-start
            clear
            small
            class="style-shared"
            float-right
            (click)="comments(item, i)"
          >
            <div>
              <span text-capitalize class="color-icons-community">
                <i class="fas fa-comment"></i>
                {{ "DATA.COMMUNITY.COMMENT" | translate }}
              </span>
            </div>
          </button>
        </ion-col>
      </ion-row>
    </span>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'DATA.PULL_TO_REFRESH.LOADING_MESSAGE'  | translate}}"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
