<ion-content color="light">
  <ion-refresher  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none"
      pullingText="{{ 'DATA.PULL_TO_REFRESH.PULL_TO_REFRESH_MESSAGE' | translate}}"
      refreshingSpinner="circles"
      refreshingText="{{ 'DATA.PULL_TO_REFRESH.LOADING_MESSAGE'  | translate}}"
    ></ion-refresher-content>
  </ion-refresher>

<!-- ----- -->

<div [hidden]="!showNotContacts">
  <ion-icon name="cloud" class="size-icon"></ion-icon>
  <p class="no-results">{{'DATA.DIGITAL_CARD.TABS.SAVED.MESSAGES.WITHOUT_CONTACS' | translate }}</p>
</div>

<ion-card *ngFor="let item of publications; let i = index">
  <ion-item>
    <h2>{{ item.name }}</h2>
    <p>{{ item.registre_time | date }}</p>
  </ion-item>
  <hr>
  <ion-card-content>
    <ion-row>
      <ion-col col-4>
        <p>{{ 'DATA.DIGITAL_CARD.TABS.SAVED.EMAIL' | translate }}</p>
      </ion-col>
      <ion-col col-8>
        <p>{{ item.email }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <p>{{ 'DATA.DIGITAL_CARD.TABS.SAVED.COMPANY' | translate }}</p>
      </ion-col>
      <ion-col col-8>
        <p>{{ item.business }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <p>{{ 'DATA.DIGITAL_CARD.TABS.SAVED.POSITION' | translate }}</p>
      </ion-col>
      <ion-col col-8>
        <p>{{ item.position }}</p>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-row class="border-top">
    <ion-col>
      <button ion-button clear id="call_phone">
          <a href="tel:{{item.country_phone}}{{ item.phone }}">
        <div>
          <p class="name_community_user_red" bold>
            <i class="fal fa-phone" font-size-14> {{ item.phone }}</i>
          </p>
        </div>
      </a>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear float-right class="button-size name_community_user_red" (click)="moreOptions(item)" id="more_options_contact">
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- --- -->

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'DATA.PULL_TO_REFRESH.LOADING_MESSAGE'  | translate}}"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
