<ion-header >
  <ion-toolbar color="primaryNavHeader" primaryNavHeader>
    <ion-title>
      <span class="text-white title-small-15" text-wrap>{{"DATA.TERMS.TITLE_MESSAGE" | translate}}</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" [hidden]="status" id="test-2">
        <span ion-text color="light" showWhen="ios">{{"DATA.TERMS.CANCEL" | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
      <button ion-button (click)="closeApp()" [hidden]="!status" id="test-1">
        <span ion-text color="light" showWhen="ios">{{"DATA.TERMS.CANCEL" | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="msj-social" [hidden]="!status">
        {{ "DATA.TERMS.ACEPT" | translate }}
      </div>
  <div [hidden]="lang != 'ES'" >
    <p [innerHTML]="info.terms_es"></p>
    <p [innerHTML]="info.policy_es"></p>
  </div>
  <div [hidden]="lang != 'EN'" >
      <p [innerHTML]="info.terms_en"></p>
      <p [innerHTML]="info.policy_en"></p>
  </div>
  <div class="btn-register" [hidden]="!status">
      <button
        text-capitalize
        ion-button
        block
        color="primaryBtn"
        class="font-size-12"
        (click)="agree()"
      >
        {{ "DATA.TERMS.AGREE" | translate }}
      </button>
    </div>
</ion-content>
