page-blog {
  ion-buttons.bar-buttons.bar-buttons-md {
    margin-right: 11px;
  }
  .circle:before {
    content: " \25CF";
    font-size: 15px;
    color: #138ffa;
  }
  .circle2:before {
    content: " \25CF";
    font-size: 15px;
    color: #fadf13;
  }

  .category {
    font-size: 12px !important;
    // margin-bottom: -8px;
  }
  .date-blog {
    font-size: 12px !important;
    margin-bottom: -3px;
  }

  .bold {
    font-weight: bold;
  }
  ion-item {
    padding-left: 9px !important;
  }

  .title-new {
    margin-top: 3px;
  }

  .label-md {
    margin: 9px 8px 13px 0 !important;
  }
  ion-card-content {
    padding: 9px !important;
  }
  ion-card-content p {
    font-size: 12px !important;
  }
  .options-blog {
    margin-top: -9.4px;
  }
  .color-options {
    color: rgba(0, 0, 0, 0.32);
  }
  .fa-plus-square,
  .fa-eye,
  .fa-heart {
    font-size: 15px !important;
    // font-weight: bold
  }

  .fa-plus-square {
    margin-left: -5px;
  }

  .see-more {
    font-weight: bold;
    font-size: 12px;
    margin-left: 7px;
  }
  .keyword-search {
    font-weight: bold;
  }
  .view-search {
    color: gray;
  }
  .remove-filter {
    text-decoration: none;
    color: orange;
  }
  .content-search {
    padding: 10px;
  }
  ion-header.introjs-fixParent{
    z-index: 1!important;
    opacity: 1.0!important;
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
  }
  .gallery-text-info{
    font-weight: bold;
    font-size: 15px;
    color: $colorPrimary;
  }
}
span.name-category {
  margin-left: 15px;
}
.circle-color {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-right: 60px;
  border-radius: 50%;
  margin-top: 2px;
}

.circle-small {
  margin-right: 10px;
  height: 10px;
  width: 10px;
  margin-top: 4px;
}
.content-search{
  background-color: rgba(245, 155, 53, 0.2);
  color : $colorPrimary;
}
