<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.BLOG.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="catergoriesPage()" id="select-category">
        <i class="fal fa-list-ul font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none"
      pullingText="{{ 'DATA.PULL_TO_REFRESH.PULL_TO_REFRESH_MESSAGE' | translate}}"
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="data" class="content-search">
    <span class="view-search"
      >{{ "DATA.BLOG.MESSAGES.FILTER_SEARCH" | translate }}:</span
    ><span class="keyword-search"> {{ data }} </span> -
    <a class="remove-filter" (click)="removeFilter()">{{
      "DATA.BLOG.MESSAGES.REMOVE_FILTER" | translate
    }}</a>
  </div>

  <!-- No found -->
  <span *ngIf="news?.length == 0">
    <div>
      <!-- [hidden]="!showNotContacts" -->
      <ion-icon name="search" class="size-icon"></ion-icon>
      <p class="no-results">
        {{ "DATA.BLOG.NO_BLOG" | translate }}
      </p>
    </div>
  </span>
  <!-- end -->

  <ion-card class="ion-card-padding" *ngFor="let item of news; let i = index">
    <span *ngIf="item === -1">
      <div>
        <!-- [hidden]="!showNotContacts" -->
        <ion-icon name="search" class="size-icon"></ion-icon>
        <p class="no-results">
          {{ "DATA.BLOG.MESSAGES.WITHOUT_SEARCH" | translate }}
        </p>
      </div>
    </span>

    <div *ngIf="item !== -1">
      <ion-item>
        <h4 (click)="detailById(item, i)" class="name_community_user_red opacity-87 bold title-new" text-wrap>
          {{ item.title }}
        </h4>
        <p class="date-blog">
          {{ item.time_ago }}
        </p>
        <p class="category">
          <span
            class="circle-small circle-color"
            [ngStyle]="{ 'background-color': '#' + item.newscategory.color }"
          ></span>
          <span class="name-category">{{ item.newscategory.name }}</span>
        </p>
      </ion-item>
      <img-loader
        class="profile-image"
        [src]="item.photo ? AUTH.API_URL + '/' + item.photo : ''"
        onError="this.src='../../assets/user_default.jpg'"
        (click)="showImageViewer( item.photo ? AUTH.API_URL + '/' + item.photo : PUBLICATION_DEFAULT, item)"
        useImg
      ></img-loader>
      <ion-card-content *ngIf="item !== -1">

        <p text-wrap><span [ngClass]="{'gallery-text-info': item.gallery_items.length > 0}" *ngIf="item.gallery_items.length > 0" >Galeria</span> {{ item.text | nowrap : 'item.text'}}</p>
      </ion-card-content>
      <hr />
      <ion-row
        class="options-blog"
        *ngIf="item !== -1"
        (click)="detailById(item, i)"
      >
        <ion-col floar-left>
          <button ion-button icon-start clear small>
            <span text-capitalize class="name_community_user_red">
              <i class="fas fa-plus-square"></i
              ><span class="see-more">
                {{ "DATA.BLOG.SEE_MORE" | translate }}
              </span>
            </span>
          </button>
        </ion-col>
        <ion-col float-right end>
          <button ion-button icon-start clear small float-right>
            <span class="color-options">
              <i class="fas fa-heart right"></i>
              <span class="bold">{{ item.likes_cant }} </span>&nbsp;
              <i class="far fa-eye right"></i>
              <span class="bold"> {{ item.views_cant }} </span>
            </span>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'DATA.PULL_TO_REFRESH.LOADING_MESSAGE'  | translate}}"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
