<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.BLOG.COMPONENTS.DETAIL_BLOG.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="HomeRedirect(123)">
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="overflow: scroll;">
  <ion-card class="ion-card-padding">
    <ion-item class="ion-card-padding-content">
      <h4 class="name_community_user_red opacity-87 bold title-new" text-wrap>
        {{ item.title }}
      </h4>
      <p class="date-blog">
        {{ item.newscategory.creation_date | date: "fullDate" }}
      </p>
      <p class="category">
        <span
          class="circle-small circle-color"
          [ngStyle]="{ 'background-color': '#' + item.newscategory.color }"
        ></span>
        <span class="name-category">{{ item.newscategory.name }}</span>
      </p>
    </ion-item>

    <!--
      <img-loader
        [src]="item.photo ? API.API_URL + '/' + item.photo : BLOG_DEFAULT"
        useImg
        [imgAttributes]="blogAtributes"
      ></img-loader>
    -->
    <div [hidden]="!item.gallery_items.length > 0">
      <button ion-button color="primaryBtn" item-end class="bnt-gallery" (click)="showGallery(item)">Gallery &nbsp;<ion-icon name="md-images"></ion-icon></button>
      <img [src]="item.photo ? AUTH.API_URL + '/' + item.photo :''" (click)="showGallery(item)"/>
    </div>
    <div [hidden]="item.gallery_items.length > 0">
      <img [src]="item.photo ? AUTH.API_URL + '/' + item.photo :''" (click)=" showImageViewer( item.photo ? AUTH.API_URL + '/' + item.photo : PUBLICATION_DEFAULT, item)"/>
    </div>

    <ion-card-content class="ion-card-padding-content">
      <div id="embed" style="min-height: 100vh; padding-bottom: 10em"></div>
    </ion-card-content>
    <hr />
    <ion-row class="options-blog">
      <ion-col floar-left>
        <button
          class="color-like"
          text-capitalize
          ion-button
          icon-start
          clear
          small
          (click)="newLike(item.id)"
          [ngClass]="{ 'disabled-btn': item.my_like == 1 }"
        >
          <ion-icon name="heart"></ion-icon
          ><span class="like-text">{{
            "DATA.COMMUNITY.LIKE" | translate
          }}</span>
        </button>
      </ion-col>
      <ion-col float-right end>
        <button ion-button icon-start clear small float-right>
          <span class="color-options">
            <i class="fas fa-heart right"></i>
            <span class="bold">{{ item.likes_cant }}</span
            >&nbsp; <i class="far fa-eye right"></i>
            <span class="bold">{{ item.views_cant }}</span>
          </span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
