blog-detail {
  .bnt-gallery{
    position: absolute;
    right: 12px;
    background-color: rgba(107, 4, 166, 0.75);
  }
  .circle:before {
    content: " \25CF";
    font-size: 15px;
    color: #138ffa;
  }
  .circle2:before {
    content: " \25CF";
    font-size: 15px;
    color: #fadf13;
  }

  .category {
    font-size: 12px !important;
    // margin-bottom: -8px;
  }
  .date-blog {
    font-size: 12px !important;
    margin-bottom: -3px;
  }

  .bold {
    font-weight: bold;
  }
  ion-item {
    padding-left: 9px !important;
  }

  .title-new {
    margin-top: -5px;
  }

  .label-md {
    margin: 9px 8px 13px 0 !important;
  }
  ion-card-content {
    padding: 9px !important;
  }
  ion-card-content p {
    font-size: 12px !important;
  }
  .options-blog {
    margin-top: -9.4px;
  }
  .color-options {
    color: rgba(0, 0, 0, 0.32);
  }
  .fa-plus-square,
  .fa-eye,
  .fa-heart {
    font-size: 15px !important;
    // font-weight: bold
  }

  .fa-plus-square {
    margin-left: -5px;
  }

  .see-more {
    font-weight: bold;
    font-size: 12px;
    margin-left: 7px;
  }

  .color-like {
    color: #13253b !important;
  }

  .like-text {
    font-weight: bold;
    font-size: 12px !important;
    margin-top: 5px;
  }
  ion-buttons.bar-buttons.bar-buttons-md{
    padding-right: 10px;
  }

  .disabled-btn{
    cursor: default;
    opacity: .4;
    pointer-events: none;
  }
}
