page-directory {
  .color-backgroud-directory {
    background-color: $color-backgroud-directory;
  }
  .color-arrow {
    color: rgba(0, 0, 0, 0.54) !important;
  }
  .search-icon{
    padding-right: 3px !important;
  }
  .toolbar-md{
    min-height: 64px;
  }
  .divider-ion{
    height: 35px !important;
  }
  .platform-ios{
    ion-searchbar#myInput{
      padding-top: 10px !important;
    }
  }
  .content-search {
    padding: 10px;
  }
  .remove-filter {
    text-decoration: none;
    color: orange;
  }
  .keyword-search {
    font-weight: bold;
  }
  .view-search {
    color: gray;
  }
}
