<ion-header>
  <ion-navbar color="primaryNavHeader" [hidden]="isOn">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.DIRECTORY.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>

    <ion-buttons end>
      <button
        class="search-icon"
        ion-button
        end
        icon-only
        (click)="searchBar()"
        [hidden]="isOn">
        <ion-icon name="search"></ion-icon>
      </button>
      <button
        class="search-icon"
        ion-button
        end
        icon-only
        (click)="filterByBranch()"
        [hidden]="isOn">
        <ion-icon name="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar color="primaryNavHeader" *ngIf="isOn">
    <ion-searchbar
      #myInput
      id="myInput"
      [(ngModel)]="name"
      animated="true"
      autocomplete="on"
      placeholder="{{ 'DATA.DIRECTORY.SEARCH_CONTACT' | translate }}"
    ></ion-searchbar>

    <ion-buttons end>
      <button
        ion-button
        (click)="searchBar()"
        *ngIf="isOn"
        (click)="name = ''"
        color="light"
      >
        <span ion-text color="light">{{
          "DATA.DIRECTORY.CANCEL" | translate
        }}</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none"
      pullingText="{{ 'DATA.PULL_TO_REFRESH.PULL_TO_REFRESH_MESSAGE' | translate}}"
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="data" class="content-search">
      <span class="view-search"
        >{{ "DATA.BLOG.MESSAGES.FILTER_SEARCH" | translate }}:</span
      ><span class="keyword-search"> {{ data }} </span> -
      <a class="remove-filter" (click)="removeFilter()">{{
        "DATA.BLOG.MESSAGES.REMOVE_FILTER" | translate
      }}</a>
    </div>

  <span *ngIf="groupedContacts.length == 0">
    <div>
      <!-- [hidden]="!showNotContacts" -->
      <ion-icon name="search" class="size-icon"></ion-icon>
      <p class="no-results">
        {{ "DATA.DIRECTORY.MESSAGES.WITHOUT_SEARCH" | translate }}
      </p>
    </div>
  </span>
  <ion-item-group *ngFor="let group of (groupedContacts | searchContacts: name)">
    <span *ngIf="group === -1 || groupedContacts.length == 0">
      <div>
        <!-- [hidden]="!showNotContacts" -->
        <ion-icon name="search" class="size-icon"></ion-icon>
        <p class="no-results">
          {{ "DATA.DIRECTORY.MESSAGES.WITHOUT_SEARCH" | translate }}
        </p>
      </div>
    </span>
    <ion-item-divider class="divider-ion" color="light">{{ group.letter}}</ion-item-divider>
    <ion-item *ngFor="let item of group.contacts" (click)="directoyContact(item)">
      <ion-avatar item-start>
        <img [src]="item.avatar ? AUTH.API_URL + '/' + item.avatar : USER_DEFAULT"
          width="30"
          class="image profile-image"
          onError="this.src='../../assets/user_default.jpg';"/>
      </ion-avatar>
      <h2 text-wrap>{{ (item.name) ? item.name : '' }} {{ item.last_name }}</h2>
      <i class="far fa-chevron-right color-arrow" float-right></i>
    </ion-item>
  </ion-item-group>
</ion-content>
