directory-contact {
  .image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #081728;
  }
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .image-head {
    margin-top: -2px;
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
  }

  .icon-cell {
    // margin-top: 33px;
    font-size: 24px;
    color: #007DB1 !important;
  }

  .icon-wa {
    margin-top: 33px;
    font-size: 28px;
    color: #007DB1 !important;
  }

  .icon-mail {
    font-size: 25px;
    margin-right: 14px;
    color: #007DB1 !important;
  }

  .pipe {
    height: 141%;
    text-align: center;
    border-right: 1px solid #858585c4;
    margin-left: -5px;
    margin-right: -7px;
  }

  .margin-top {
    margin-top: 20px !important;
  }

  button:first-letter {
    text-transform: uppercase !important;
  }
  ion-buttons.bar-buttons.bar-buttons-md{
    padding-right: 10px;
  }
  .height-for-phone{
    height: 35px !important;
  }
}
