<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.DIRECTORY.COMPONENTS.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="goToHome()">
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <!-- <img-loader [src]="'../assets/RECURSOS/DIRECTORY/img_top.jpg'" useImg [imgAttributes]="image_head"></img-loader> -->
    <img [src]="'../assets/RECURSOS/DIRECTORY/image_top.png'" class="image-head"/>

    <ion-avatar>
      <img [src]="image_url ? AUTH.API_URL + '/' + image_url : imgDefault" width="30" class="image profile-image" onError="this.src='../../assets/user_default.jpg';"/>
    </ion-avatar>
  </div>
  <div class="name-space" text-center>
    <span style="font-size: 18px; font-weight: 800; color: #081728" text-center
      >{{ user.name }} {{ user.last_name }} </span
    ><br />
    <span *ngIf="position.name" style="font-size: 14px; color: #414141" text-center>
      {{ position.name }}</span><br *ngIf="position.name"/>
    <span style="font-size: 12px;color: #757575;z-index: 999 !important;margin-bottom: -19px !important;position: relative;" text-center>
      {{ company.name }}</span>
  </div>

  <ion-list no-padding>
    <ion-item-divider [hidden]="!user.phone">
      <p style="font-size: 15px; color: #414141">{{ phoneMask }}</p>
      <label color="primaryItem" ion-button icon-only item-end clear>
        <a href="tel:{{ phone }}"  target="_top" style="padding-top:2px">
          <i class="fal fa-phone right icon-mail"></i>
        </a>
      </label>
    </ion-item-divider>

    <ion-item-divider [hidden]="!user.email">
      <p style="font-size: 15px; color: #414141">{{ user.email }}</p>
      <label color="primaryItem" ion-button icon-only item-end clear>
        <a href="mailto:{{ user.email }}" target="_top">
          <i class="far fa-envelope right icon-mail"></i>
        </a>
      </label>
    </ion-item-divider>

    <div text-center class="margin-top" padding-top padding>
      <button
        [ngClass]="{'btn-disabled': general.user && general.user.account_status != 'Active'}"
        class="let"
        ion-button
        text-lowercase
        block
        color="#007DB1"
        (click)="contactCreate()"
        id="btn-save_phone">
        <span text-capitalize>
          {{
            "DATA.DIRECTORY.COMPONENTS.BTN_SAVE_FIRST" | translate
          }}&nbsp;</span
        >
        {{ "DATA.DIRECTORY.COMPONENTS.BTN_SAVE" | translate }}
      </button>
    </div>
  </ion-list>
</ion-content>
