<ion-header>
  <ion-navbar *ngIf="!firstLogin" color="primaryNavHeader">
    <button ion-button menuToggle>
      <img src="../assets/RECURSOS/MENU/menu_icon.svg" width="30" />
    </button>
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.MY_PROFILE.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="contentProfile" [ngClass]="{'margin-top-img': firstLogin}"  text-center id="personal_info">
    <div class="radius-icon">
      <ion-avatar item-start id="profile_avatar">
        <img class="center-align-content image" [src]="profile.avatar ? API.API_URL + '/' + profile.avatar : USER_DEFAULT" onError="this.src='../../assets/user_default.jpg';" width="140"/>
        <button id="profile_avatar_change" class="position-icon-camara" color="selectedIcon" ion-fab mini (click)="openeditprofile()"> <i class="fal fa-camera"></i> </button>
      </ion-avatar>
    </div>
      <label class="name-user"> {{ profile.name }} {{ profile.last_name }}</label ><br/>
  </div>

  <div class="generalInformation" id="generalInformation">
    <div *ngIf="firstLogin">
      <div class="msj-social">
        {{ "DATA.MY_PROFILE.FIRST_TIME" | translate }}
      </div>
    </div>
    <ion-item no-lines>
      <ion-label floating>{{ "DATA.MY_PROFILE.EMAIL" | translate }}</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="profile.email"
        #email
        disabled
      ></ion-input>
    </ion-item>

    <ion-item no-lines class="profile-inputs">
      <ion-label floating>{{ "DATA.MY_PROFILE.NAME" | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="profile.name"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{
        "DATA.MY_PROFILE.LAST_NAME" | translate
      }}</ion-label>
      <ion-input type="text" [(ngModel)]="profile.last_name"></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label floating>{{ "DATA.MY_PROFILE.PHONE" | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="profile.phone" max="15"></ion-input>
    </ion-item>

    <ion-item  id="ionic-selectable" no-lines>
      <ion-label floating>{{ "DATA.PREFIX" | translate }}</ion-label>
      <ionic-selectable
        #port2
        class="selectable"
        searchPlaceholder="{{
          'DATA.DIGITAL_CARD.TABS.SEND.PREFIX_PLACEHOLDER' | translate
        }}"
        item-content
        [(ngModel)]="indicative"
        [items]="prefixArray"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="portChange($event)"
        id="port2"
        (click)="openModalFlags()"
        (onClose)="onClose($event)"
        (onSearch)="searchPorts($event)">
        <ng-template ionicSelectableValueTemplate let-indicative="value">
          {{ indicative.name }} (+{{ indicative.phonecode }})
        </ng-template>

        <ng-template ionicSelectableItemRightTemplate let-indicative="item">
          +{{ indicative.phonecode }}
        </ng-template>

      </ionic-selectable>
    </ion-item>

    <ion-item no-lines class="input-with-border">
      <ion-label floating>{{
        "DATA.MY_PROFILE.BIRTHDATE" | translate
      }}</ion-label>
      <ion-datetime
      (ionChange)="onChange()"
        (ionCancel)="onCancel($event)"
        displayFormat="MM/DD/YYYY"
        [(ngModel)]="profile.birthday"
        (click)="openSelect()"
        cancelText='{{"DATA.FORGOT_PASSWORD.cancel" | translate}}'
        doneText="Ok"
      ></ion-datetime>
    </ion-item>

    <div [hidden]="profile.session_type !== 'S'">
      <div class="msj-social">
        {{ "DATA.MY_PROFILE.MESSAGES.SOCIAL_MESSAGE" | translate }}
      </div>
    </div>

    <div detail-push no-lines [hidden]="profile.can_change_position != 'S'">
      <ion-item>
        <ion-label floating>{{"DATA.MY_PROFILE.POSITION" | translate}}</ion-label>
        <ion-select (ionChange)="onChange($event)" (ionCancel)="onCancel($event)" [(ngModel)]="position" [selectOptions]="selectOptions" cancelText='{{"DATA.FORGOT_PASSWORD.cancel" | translate}}' ngOption (click)="openSelect()" #myselectM>
          <ion-option *ngFor="let item of positions" [ngClass]="{'disabled': item.id === 0}"   [value]="item.id">{{ item . name }}</ion-option>
        </ion-select>
      </ion-item>
      </div>


    <div detail-push no-lines [hidden]="profile.session_type !== 'M'" [formGroup]="profileForm">
      <ion-item>
          <ion-label floating>{{"DATA.MY_PROFILE.PASSWORD" | translate}}</ion-label>
          <ion-input [type]="passwordType" [(ngModel)]="profile.password" formControlName="password"></ion-input>
          <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;" color="primaryBtn">
            <ion-icon [name]="passwordIcon" class="passwordIcon" style="font-size:32px;margin-top: 13px;"></ion-icon>
          </button>
      </ion-item>
      <ion-label style="color: #a1a1a1;" text-wrap class="label label-md info-label-password">{{"DATA.MY_PROFILE.PASSWORD_INFO" | translate }}</ion-label>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password" >
          <div class="error-message" style="font-size: 1rem !important;" *ngIf="profileForm.get('password').hasError(validation.type) && (profileForm.get('password').dirty || profileForm.get('password').touched)">{{ validation.message }}</div>
        </ng-container>
      </div>
    </div>

    <div text-center padding-top>
      <button ion-button text-capitalize block color="primaryBtn" (click)="saveInfo()">
        {{ "DATA.MY_PROFILE.SAVE" | translate }}
      </button>
    </div>
  </div>
</ion-content>
