@import "../../app/app.scss";
page-profile {
  .item-md{
    padding-left: 0px !important;
  }
  .msj-social{
    background-color: #e2e1e1;
    padding: 10px;
    margin-top: 16px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.2rem
  }
  .radius-icon {
    position: relative;
    text-align: center;
  }
  .position-icon-camara {
    position: absolute;
    top: 25%;
    right: 23%;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
  }
  .padding-btn {
    margin-bottom: 12px;
  }
  .name-user {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .text-position {
    font-size: 12px;
    color: #242134;
  }
  .user-nick {
    color: $colorTextBlack;
  }
  .text-info {
    color: $colorPrimary;
  }
  .text-noti {
    margin-left: 15px;
  }
  .opacity-40 {
    opacity: $opacityText;
  }
  .image {
    height: 9em;
    width: 9em;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }

  .input-cover{
    padding-right: 8px;
    border-bottom: 2px solid #dedede !important;
  }
  .input-with-border{
    padding-right: 8px;
    border-bottom: 2px solid #dedede !important;
  }
  .margin-top-img{
    margin-top: 30px;
  }
  .item-ios{
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #c8c7cc !important;
  }
}
.platform-ios{
  page-profile .position-icon-camara{
    right: 20% !important;
  }
  page-profile{
    ion-item{
      padding-left: 0px !important;
    }
  }
}
ion-item#ionic-selectable{
  border-bottom: 2px #dedede solid;

}
ionic-selectable#port2{
  border-radius: 10px !important;
  margin-bottom: 7px !important;
}