forgot-pasword {
  .item-md {
    padding-left: 0px !important;
  }
  .input-cover {
    padding-right: 8px;
    border-bottom: 2px solid #dedede !important;
  }
  .input-with-border {
    padding-right: 8px;
    border-bottom: 2px solid #dedede !important;
  }
  .content-email{
    margin-top: -15px;
  }
  ion-item.item.item-block.item-md.item-select.item-label-floating.input-has-value.item-input-has-value{
    border-bottom: 0.55px solid #c8c7cc !important;
  }
  span.text.text-ios.text-ios-primary{
    color: #f4f4f4
  }
  .select-text{
    font-size: 12px !important;
  }

}
.platform-ios {
  ion-modal forgot-pasword {
    ion-item{
      padding-left: 0px !important;
    }
  }
}
