<ion-header >
  <ion-toolbar color="primaryNavHeader" primaryNavHeader>
    <ion-title>
      <span class="text-white title-small-15" text-wrap>{{"DATA.FORGOT_PASSWORD.MESSAGE_TITLE" | translate}}</span>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">{{"DATA.TERMS.CANCEL" | translate}}</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center padding *ngIf="step == 1">
    <div text-justify>
      <p class="font-size-12">
        {{ "DATA.FORGOT_PASSWORD.MESSAGE_INFO" | translate }}
      </p>
      <div text-center class="content-email">
        <ion-item [formGroup]="myGroup">
          <ion-label floating class="font-size-12" color="">{{"DATA.FORGOT_PASSWORD.EMAIL_ADDRESS" | translate}}</ion-label>
          <ion-input
            formControlName="email"
            required
            type="email"
            class="font-size-12"
            [(ngModel)]="email"
            (keyup)="onKey()"
          ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email" >
            <div class="error-message" style="font-size: 1rem !important;" *ngIf="myGroup.get('email').hasError(validation.type) && (myGroup.get('email').dirty || myGroup.get('email').touched)">{{ validation.message }}</div>
          </ng-container>
        </div>

        <ion-list>
            <ion-item>
              <ion-label floating>{{"DATA.FORGOT_PASSWORD.METHOD_NOT" | translate}}</ion-label>
              <ion-select [(ngModel)]="type_method" [selectOptions]="selectOptions" cancelText='{{"DATA.FORGOT_PASSWORD.cancel" | translate}}'>
                <ion-option class="select-option" value="email" selected="true">{{"DATA.FORGOT_PASSWORD.email" | translate}}</ion-option>
                <ion-option class="select-option" value="sms">{{"DATA.FORGOT_PASSWORD.message" | translate}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>

        <div class="btn-register">
          <button
            text-capitalize
            ion-button
            block
            color="primaryBtn"
            class="font-size-12"
            (click)="sendEmail()"
            [disabled]="!myGroup.valid"
          >
            {{ "DATA.FORGOT_PASSWORD.SEND" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div text-center padding *ngIf="step == 2">
    <div text-justify class="content-email">
      <p class="font-size-12">
        {{ "DATA.FORGOT_PASSWORD.MESSAGE_1" | translate }}
      </p>
      <p class="font-size-12">
        {{ "DATA.FORGOT_PASSWORD.MESSAGE_2" | translate }}
        <a class="pointer" (click)="resetForm()">
          <b class="color-primary">
            {{ "DATA.FORGOT_PASSWORD.MESSAGE_3" | translate }}
          </b>
        </a>
      </p>
      <div text-center>
        <ion-item>
          <ion-label floating class="font-size-12" color="">{{
            "DATA.FORGOT_PASSWORD.EMAIL_ADDRESS" | translate
          }}</ion-label>
          <ion-input
            disabled
            type="text"
            class="font-size-12"
            color=""
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating class="font-size-12" color="">{{
            "DATA.FORGOT_PASSWORD.CODE" | translate
          }}</ion-label>
          <ion-input
            type="text"
            class="font-size-12"
            color=""
            [(ngModel)]="code"
          ></ion-input>
        </ion-item>

        <div padding-top class="btn-register">
          <button
            text-capitalize
            ion-button
            block
            color="primaryBtn"
            class="font-size-12"
            (click)="Validate()"
            [ngClass]="{ 'btn-disabled': !code }"
          >
            {{ "DATA.FORGOT_PASSWORD.VALIDATE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
