<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.COMMUNITY.COMPONENTS.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="goToHome()" >
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{ "DATA.COMMUNITY.COMPONENTS.WHAT_GOING_ON" | translate }}
    </ion-card-header>
    <ion-card-content [hidden]="!myImage" no-padding>
        <button class="position-icon-trash" color="danger" ion-fab mini (click)="deleteSelectImage()">
            <i class="fal fa-trash-alt"></i>
          </button>
        <button class="position-icon-camara" color="selectedIcon-new" ion-fab mini (click)="openSelectImage()">
            <i class="fal fa-camera"></i>
          </button>
      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(myImage)" alt="" />

    </ion-card-content>
    <ion-card color="gray" class="add-photo" [hidden]="myImage" (click)="openSelectImage()">
      <ion-card-content  text-center no-padding>
        <span> <i class="fal fa-camera fa-3x"></i> </span>
        <p class="opacity-87">
          {{ "DATA.COMMUNITY.COMPONENTS.ADD_PHOTO" | translate }}
        </p>
        <p class="opacity-87">
          {{ "DATA.COMMUNITY.COMPONENTS.OPTIONAL" | translate }}
        </p>
      </ion-card-content>
    </ion-card>

    <div style="width: 98%" no-lines text-center padding-left>
      <ion-textarea
        #myInput
        id="myInput"
        placeholder="{{ &quot;DATA.COMMUNITY.COMPONENTS.PLACEHOLDER&quot; | translate }} "
        maxlength="150"
        rows="1"
        (keyup)="resize()"
        [(ngModel)]="text"
      ></ion-textarea>
    </div>

    <ion-item *ngIf="user_access.can_notify == 'S'" >
        <ion-label padding-left>{{ "DATA.COMMUNITY.COMPONENTS.NOTIFY" | translate }}</ion-label>
        <ion-toggle [(ngModel)]="notify_all" checked="false" color="primaryNavHeader"></ion-toggle>
      </ion-item>

    <div text-center padding>
      <button
        text-capitalize
        ion-button
        color="primaryBtn"
        block
        (click)="uploadFile()">
        {{ "DATA.COMMUNITY.COMPONENTS.BTN_SAVE" | translate }}
      </button>
    </div>

    <div no-lines style="margin-top: -18px;">
      <ion-card-content text-wrap>
        <ion-label color="text-black-with-opacity" style="font-size: 12px">
          {{ "DATA.COMMUNITY.COMPONENTS.MESSAGE_INFO_1" | translate }}
        </ion-label>
        <ion-label color="text-black-with-opacity" style="font-size: 12px">
          {{ "DATA.COMMUNITY.COMPONENTS.MESSAGE_INFO_2" | translate }}
        </ion-label>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
