community-new-publication {
    .add-photo{
        padding-top: 5px;
    }
    .textarea.style{
        border-bottom: 1px solid rgba(128, 128, 128, 0.822);
        font-size: 12px
    }
    #myInput {
      width: calc(100% - 10px);
      border: 0;
      border-radius: 0;
      background: transparent;
  }
  .position-icon-camara{
    position: absolute;
    top: 40px;
    right: 2px;
  }
  .position-icon-trash{
    position: absolute;
    top: 40px;
    left: 2px;
  }
  .item-md{
    padding-left: 0px !important;
  }
  ion-textarea#myInput{
    padding-right: 8px !important;
    border-bottom: 2px solid #dedede !important;

  }
}
