<div class="modal-container-aa">
  <div class="modal-content-aa">
    <ion-content>
        <img src="../../assets/permission_header.svg"/>
            <h6 padding-left class="title-purple">{{'DATA.PERMISSION.TITLE_MODAL' | translate }}</h6>
      <p class="text-permission" ion-text padding-left padding-right>
          {{'DATA.PERMISSION.TEXT_INFO_FIRST' | translate }}
        <br>
        <br>
          {{'DATA.PERMISSION.TEXT_INFO_SECOND' | translate }} 
      </p>
      <div padding-left padding-right padding-top class="btn-register">
          <button (click)="goToPermissions()" text-capitalize ion-button block color="primaryBtn" class="font-size-12">{{'DATA.PERMISSION.BTN_CONTINUE' | translate }}</button>
      </div>
  </ion-content>
</div>
</div>