app-permission {
    .modal-container-aa{
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 6%, 0.53);
        // filter: blur(6px);
        z-index: 1;
    }
    .title-purple{
        color: #E76114;
        font-weight: bold;
    }
    .modal-content-aa{
        left: 0;
        top: 5.3%;
        right: 0;
        position: absolute;
        display: block;
        width: 94%;
        height: 93%;
        margin-top: 11%;
        contain: strict;
        margin: 0 auto;
        z-index: 999;
    }
    .text-permission{
        color: rgba(128, 128, 128, 0.74);
    }
}
