@import "../../app/app.scss";
page-home {
  .iconprofile{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
  ionic-title{
    text-align: left;
  }
  .toolbar-background-md {
    background-color: $colorPrimaryBackgroud !important;
  }
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: $colorNavButton;
  }
  .backgroudHome {
    background-image: url("../../assets/RECURSOS/MENU/montaje_fotoFamilia3_sepia.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: calc(100vw - 76px);
    position: fixed;
    left: 0;
    height: calc(100vh - 60px);
    margin-left: 76px;
    top: 60px;
  }
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
  ion-card.transparent {
    border-radius: 15px;
  }

  .radius-icon {
    margin-top: 11px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #E76114;
    color: white;
  }

  .text-icon {
    font-size: 12px;
    padding-top: 12px;
    color: #444444;
    font-weight: bold;
  }

  .id-card {
    @extend %fa-icon;
    @extend .fal;

    &:before {
      content: fa-content($fa-var-id-card);
    }
  }
  .icons-home-zise {
    margin-top: -5px;
    font-size: 2.3em;
  }
  ion-header.introjs-fixParent{
    z-index: 1!important;
    opacity: 1.0!important;
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
    transform: none!important;
  }

  .footer {
    background: rgba(#ffffff, .6);
    border-radius: 20px 20px 0 0;
    width: 90%;
    margin-left: 5%;

    ion-card {
      background: transparent;

    }
  }

  #btn-menu {
    background-color: #444444;
    height: calc(100% + 4px);
    width: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    position: relative;
    left: -2px;
    top: -2px;
  }

  .home-logo {
    margin-left: 44px;
    margin-right: 41px;
    margin-top: 151px;
    width: calc(100% - 44px - 41px);
  }

  .menu-item {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (min-height: 600px) {
      padding: 40px 0;
    }

  }


  .divisor-item {
    height: 1px;
    width: 80%;
    bottom: 0;
    margin-left: 10%;
    background-color: #9C3D06;
  }
}
