<ion-header>
  <!-- <ion-navbar >
    <button ion-button menuToggle id="btn-menu">
      <img src="../assets/RECURSOS/MENU/menu_icon.svg" width="30">
    </button>
    <ion-title>
      <p class="text-white title-small-15">{{ 'DATA.HOME_PAGE.MESSAGE_TITLE' | translate }}</p>
    </ion-title>
    <ion-buttons end>
      <button class="iconprofile" ion-button icon-only end (click)="goToProfile()" id="btn-profile">
        <img [src]=" me.avatar ? API . API_URL + '/' + me.avatar : USER_DEFAULT" onError="this.src='../../assets/user_default.jpg';" width="30" class="image">
      </button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-header>
    <div style="background: white; height: 60px; width: 100%; display: flex; align-items: center; flex-direction: row-reverse">
      <button ion-button menuToggle id="btn-menu">
        <img src="../assets/RECURSOS/MENU/menu_icon.svg" width="30">
      </button>
      <div style="color: #1F2A49; font-size: 16px; margin-left: 20px; flex: 1; font-family: Verdana, Geneva, sans-serif;">
        Bienvenidos
      </div>
    </div>
  </ion-header>
</ion-header>

<ion-content padding>
    <div>
      <div style="position: absolute; top: 60px; left: 0; bottom:-2px; background: #E76114; width: 76px">
        <div class="menu-item" (click)="goToCalendar()">
          <img src="/assets/RECURSOS/ICONOS/agenda.svg" />
        </div>
        <div class="divisor-item"></div>
        <div class="menu-item" (click)="goToCommunity()">
          <img src="/assets/RECURSOS/ICONOS/comunidad.svg" />
        </div>
        <div class="divisor-item"></div>
        <div class="menu-item" (click)="goToBlog()">
          <img src="/assets/RECURSOS/ICONOS/noticias.svg" />
        </div>
        <div class="divisor-item"></div>
        <div class="menu-item" (click)="goToGenealogia()">
          <img src="/assets/RECURSOS/ICONOS/arbol_genealogico.svg" />
        </div>
        <button class="iconprofile" (click)="goToProfile()" id="btn-profile">
            <img [src]=" me.avatar ? 'https://losquintero.club/images/' + me.avatar : USER_DEFAULT" onError="this.src='../../assets/user_default.jpg';" width="30">
        </button>
      </div>
      <div class="backgroudHome">
        <img src="/assets/RECURSOS/MENU/logo_losQuintero_inicio.png" class="home-logo" />
        <div style="position: absolute; bottom: 20px; color: #FFFFFF; font-size: 10px; right: 20px; text-align: right">
          <div>Familia Quintero Jurado</div>
          <div>Juanchito, Dic 25, 1955</div>
        </div>
      </div>
    </div>
</ion-content>
