send {
  send .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: transparent !important;
  }
  .item-ios{
    padding-left: 0px;
    padding-left: 0px;
    border-bottom: 0.55px solid #c8c7cc !important;

    .item-ionic-selectable {

    }
  }
  .item-md.item-block .item-inner{
    border-bottom-color: #dedede !important;
    -webkit-box-shadow: inset 0 -1px 0 0 #dedede !important;
    box-shadow: inset 0 -1px 0 0 #dedede !important;
  }

    ion-label.prefix{
        display: none;
    }

    .ionic-selectable-md{
        width: 80% !important;
        height: 80% !important;
    }
    ionic-selectable-page-md{
        background-color: red;
    }

    ionic-selectable-page-md ion-icon.icon.icon-md.icon-md-daek.ion-md-radio-button-off.item-icon {
        display: none !important;
    }

    .selectable {
        max-width: -webkit-fill-available;
        margin: auto;
    }


    ion-searchbar.searchbar.searchbar-md.ng-untouched.ng-pristine.ng-valid.searchbar-left-aligned {
        padding: 0px !important
    }
    ion-searchbar.searchbar.searchbar-md.ng-pristine.ng-valid.searchbar-left-aligned.searchbar-active.ng-touched {
        padding: 0px !important;
    }
    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        background-image: none !important;
    }
    .header-md{
        background-image: none !important;
    }

    .color-cancel:before{
        color: red;
        text-decoration-color: red;
    }

    ion-icon.icon-sending{
        // margin-top: 20px;
        color: white !important;
        background-color: #007DB1;
        padding: 6px 7px 7px 10px;
        border-radius: 2px;
        margin-bottom: -18px;
        // margin-right: -17px;
    }

    ion-item.item-md{
        font-size: 13px;
        padding-left: 0px !important;
    }

    .item-md.item-label-floating [item-end]{
        margin-right: -10px;
    }

    .link-contact{
        border: 1px solid #DEDEDE;
        border-radius: 10px;
        /* border-bottom: none !important; */
        /* width: 235px; */
        font-size: 13px;
        position: absolute !important;
        padding: 0px !important;
    }
    .link-contact .input-cover{
        border-bottom: none !important
    }

    .icon-link{
        margin-right: -15px !important;
    }

    .md .modal-wrapper{
        background-color: rgba(37, 37, 37, 0.66);
    }
    .item-ios.item-block .item-inner{
      padding-right: 8px;
      padding-right: 8px;
      border-bottom: 0.55px solid #c8c7cc !important;
    }
}
.ionic-selectable-page-md {
        background-color: rgba(39, 39, 39, 0.72) !important;


        ion-content.content.content-md.has-infinite-scroll.statusbar-padding{
            width: 80%;
            height: 80%;
            // top: 10%;
            margin: 0px auto;
            position: relative;
        }


        .toolbar.toolbar-md.statusbar-padding{
            display: none;
        }

    ion-header.header.header-md{
        width: 80%;
        top: 7%;
        margin: 0 auto;
        position: relative;
    }

    ion-toolbar.toolbar.toolbar-md.statusbar-padding{
        padding: 0px !important;
        min-height: 0px !important;
        border-radius: unset;
        // margin-top: 20px;
        border: none;
        display: block;
        background: white;
    }

    ion-searchbar.searchbar.searchbar-md.ng-pristine.ng-valid.searchbar-left-aligned.searchbar-active.ng-touched {
        padding: 0px;
        background-color: white;
    }
    .toolbar-background-md{
        background-color: white !important;
    }

    scroll-content {
        // margin-top: -7px;
    }
    [app-viewport], [overlay-portal], [nav-viewport], [tab-portal], .nav-decor{
        display: none
    }
    .searchbar-md .searchbar-input{
        box-shadow: unset;
        border-bottom: 1px solid #d8d1de;
        border-radius: unset;
        width: 96%;
        margin: 0 auto;
    }
    .header-md::after{
        background: unset
    }
    .md .modal-wrapper{
        background-color: rgba(37, 37, 37, 0.66);
    }
    ion-icon.icon.icon-md.icon-md-daek.ion-md-radio-button-off.item-icon {
        display: none;
        padding: 0px !important;
        margin: 0px !important;
    }
    .item-inner {
        border: none !important;
        margin-left: 0px !important;
    }
    button.ionic-selectable-item.item.item-block.item-md {
        border-bottom: 1px solid #d8d1de;
    }
    .item-md [item-right] {
        font-weight: bold;
        color: #828080;
    }
    .input-wrapper {
        font-weight: bold;
    }

}

ionic-selectable#port{
  border: 1px solid #DEDEDE !important;
  border-radius: 10px !important;
  margin-bottom: 7px !important;
}