<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item text-center>
        <ion-label class="prefix">{{ "DATA.PREFIX" | translate }}</ion-label>
        <ionic-selectable
          #port
          class="selectable"
          searchPlaceholder="{{
            'DATA.DIGITAL_CARD.TABS.SEND.PREFIX_PLACEHOLDER' | translate
          }}"
          item-content
          [(ngModel)]="indicative"
          [items]="prefixArray"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          (onChange)="portChange($event)"
          id="port"
          (click)="openModalFlags()"
          (onClose)="onClose($event)"
          (onSearch)="searchPorts($event)">
          <ng-template ionicSelectableValueTemplate let-indicative="value">
            {{ indicative.name }} (+{{ indicative.phonecode }})
          </ng-template>

          <ng-template ionicSelectableItemRightTemplate let-indicative="item">
            +{{ indicative.phonecode }}
          </ng-template>

        </ionic-selectable>
      </ion-item>

      <ion-item style="padding-bottom: 18px" block>
        <ion-label floating
          ><i class="fal fa-phone"></i>
          {{ "DATA.DIGITAL_CARD.TABS.SEND.PHONE" | translate }}</ion-label
        >
        <ion-input
          #phone
          id="phone"
          clearInput
          type="number"
          required
          [(ngModel)]="send.phone"
        >


      </ion-input>
        <button ion-button large clear (click)="moreOptions()" item-end>
          <ion-icon name="send" class="icon-sending" id="send_digital_card" ></ion-icon>
        </button>
      </ion-item>
      <!-- </ion-col>
                  </ion-row>
                </ion-grid> -->

      <ion-item style="margin-top: -18px;" block>
        <ion-label floating
          ><i class="fal fa-user"></i>
          {{ "DATA.DIGITAL_CARD.TABS.SEND.FULL_NAME" | translate }}</ion-label
        >
        <ion-input
          clearInput
          type="text"
          required
          [(ngModel)]="send.name"
        ></ion-input>
      </ion-item>

      <div [hidden]="!showCompleteInfo">
        <ion-item block no-lines [formGroup]="myGroup">
          <ion-label floating
            ><i class="fal fa-envelope"></i>
            {{ "DATA.DIGITAL_CARD.TABS.SEND.EMAIL" | translate }}</ion-label
          >
          <ion-input
            formControlName="mail"
            clearInput
            type="email"
            [(ngModel)]="send.email"
          ></ion-input>
        </ion-item>

        <ion-item block no-lines>
          <ion-label floating
            ><i class="fal fa-briefcase"></i>
            {{ "DATA.DIGITAL_CARD.TABS.SEND.POSITION" | translate }}</ion-label
          >
          <ion-input
            clearInput
            type="text"
            [(ngModel)]="send.position"
          ></ion-input>
        </ion-item>

        <ion-item block no-lines>
          <ion-label floating
            ><i class="fal fa-building"></i>
            {{ "DATA.DIGITAL_CARD.TABS.SEND.COMPANY" | translate }}</ion-label
          >
          <ion-input
            clearInput
            type="text"
            [(ngModel)]="send.business"
          ></ion-input>
        </ion-item>
        <br />
        <button
          ion-button
          block
          paddig
          (click)="saveContact(send)"
          [disabled]="!myGroup.valid"
          color="primaryBtn"
          class="opacity-38"
          text-capitalize
        >
          {{ "DATA.DIGITAL_CARD.TABS.SEND.BTN_SAVE_CONTACT" | translate }}
        </button>
      </div>
      <br [hidden]="showCompleteInfo" />
      <button
        [ngClass]="{'btn-disabled': general.user.account_status != 'Active'}"
        [hidden]="showCompleteInfo"
        ion-button
        block
        paddig
        (click)="completeInfo()"
        color="primaryBtn"
        class="opacity-38"
        text-capitalize>
        {{ "DATA.DIGITAL_CARD.TABS.SEND.BTN_COMPLETE_INFORMATION" | translate }}
      </button>

      <ion-item block no-lines>
        <ion-input
          class="link-contact"
          clearInput
          type="text"
          placeholder="Full Name"
          disabled
          value="{{ link_card }}"
        ></ion-input>
        <button
          class="icon-link"
          ion-button
          large
          clear
          item-end
          (click)="showToast('bottom')"
        >
          <ion-icon class="name_community_user_red" id="copy_my_digital_card">
            <i class="fal fa-clone"></i>
          </ion-icon>
        </button>
      </ion-item>
      <!-- </form> -->
    </ion-card-content>
  </ion-card>
  <div class="bottom"></div>
</ion-content>
