// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$fa-font-path: "../assets/fontawesome/webfonts";

$font-family-md-base: 'IBM Plex Sans', sans-serif !default;
$font-family-ios-base: 'IBM Plex Sans', sans-serif !default;
$font-family-wp-base: 'IBM Plex Sans', sans-serif !default;

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  subHeader:  #E76114,
  primaryBtn: #E76114,
  primaryItem: #E76114,
  color-danger: red,
  text-span: #b7b6b3,
  transparent: rgba(255, 255, 255, 0.25),
  gray: rgba(136, 136, 136, 0.47),
  gray-login: rgb(245, 245, 245),
  transparent-login: rgba(255, 255, 255, 0),
  text-black-with-opacity: rgba(118, 117, 117, 0.87),
  selectedIcon: #E76114,
  selectedIcon-new : #E76114,
  primaryNavHeader:    #E76114,
);

$refresher-height	: 50px;
$refresher-text-color : #E76114;
$refresher-icon-color: #E76114;
$searchbar-ios-padding-vertical: 15px;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
