community-detail {
  .scroll-content {
    background-color: #f9f9f9;
  }
  .border-top {
    border-top: 1px solid #e8e8e8;
  }
  .bold {
    font-weight: bold !important;
  }
  .border-avatar {
    border: 1px solid #13253b;
    border-radius: 50%;
  }
  .date-community {
    font-size: 12px;
  }
  .total-shared {
    margin-left: 13px;
    font-size: 1.2rem;
    color: #9a9c9e;
  }
  .nav-icon {
    padding-right: 10px;
  }
  .comment-total {
    margin-left: 4px;
  }
  .style-shared {
    font-size: 1.5rem;
  }
  .type-photo {
  }
  .disabled-btn{
    cursor: default;
    opacity: .4;
    pointer-events: none;
  }

}
