<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.BLOG.COMPONENTS.DETAIL_BLOG.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="HomeRedirect()">
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar class="border-avatar" item-start>
        <img
          [src]="
            item.user.avatar
              ? API.API_URL + '/' + item.user.avatar
              : USER_DEFAULT
          "
          class="profile-image"
          width="30"
          onError="this.src='../../assets/user_default.jpg';"
        />
      </ion-avatar>
      <h2 text-wrap class="name_community_user_red opacity-87 bold">
        {{ item.user.name + " " + item.user.last_name }}
        <span float-right class="color-icons-community">
          <!-- <i class="fas fa-flag "></i> -->
        </span>
      </h2>
      <p class="date-community date-publication-community">{{ item.date }}</p>
    </ion-item>
    <span *ngIf="item.photo">
      <img
        [src]="API.API_URL + '/' + item.photo"
        onError="this.src='../../assets/image_not_found.jpg';"
        (click)="
          showImageViewer(
            item.photo ? API.API_URL + '/' + item.photo : PUBLICATION_DEFAULT,
            item
          )
        "
      />
      <div class="type-photo">
        <ion-card-content class="text-photo">
          <p>{{ item.text }}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <div class="total-shared">
              <span
                ><i class="fas fa-heart"></i
                ><span text-capitalize>
                  {{ item.likes_cant ? " " + item.likes_cant : " 0" }}</span
                ></span
              >
              <span class="comment-total"
                ><i class="fas fa-comment"></i
                ><span text-capitalize>
                  {{
                    item.comments_cant ? " " + item.comments_cant : "0"
                  }}</span
                ></span
              >
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="border-top">
          <ion-col>
            <button
              ion-button
              icon-start
              clear
              small
              class="style-shared"
              (click)="newLike(item)"
              [ngClass]="{ 'disabled-btn': item.my_like == 1 }"
            >
              <div>
                <span text-capitalize class="color-icons-community">
                  <i class="fas fa-heart"></i>
                  {{ "DATA.COMMUNITY.LIKE" | translate }}
                </span>
              </div>
            </button>
          </ion-col>

          <ion-col>
            <button
              ion-button
              icon-start
              clear
              small
              class="style-shared"
              float-right
              (click)="comments(item)"
            >
              <div>
                <span text-capitalize class="color-icons-community">
                  <i class="fas fa-comment"></i>
                  {{ "DATA.COMMUNITY.COMMENT" | translate }}
                </span>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </div>
    </span>

    <span *ngIf="!item.photo">
      <ion-card-content>
        <p>{{ item.text }}</p>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <div class="total-shared">
            <span
              ><i class="fas fa-heart"></i
              ><span text-capitalize>
                {{ item.likes_cant ? " " + item.likes_cant : " 0" }}</span
              ></span
            >
            <span class="comment-total"
              ><i class="fas fa-comment"></i
              ><span text-capitalize>
                {{ item.comments_cant ? " " + item.comments_cant : "0" }}</span
              ></span
            >
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="border-top">
        <ion-col>
          <button
            [ngClass]="{ 'disabled-btn': item.my_like == 1 }"
            ion-button
            icon-start
            clear
            small
            class="style-shared"
            (click)="newLike(item)"
          >
            <div>
              <span text-capitalize class="color-icons-community">
                <i class="fas fa-heart"></i>
                {{ "DATA.COMMUNITY.LIKE" | translate }}
              </span>
            </div>
          </button>
        </ion-col>

        <ion-col>
          <button
            ion-button
            icon-start
            clear
            small
            class="style-shared"
            float-right
            (click)="comments(item)"
          >
            <div>
              <span text-capitalize class="color-icons-community">
                <i class="fas fa-comment"></i>
                {{ "DATA.COMMUNITY.COMMENT" | translate }}
              </span>
            </div>
          </button>
        </ion-col>
      </ion-row>
    </span>
  </ion-card>
</ion-content>
