// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../assets/fontawesome/scss/fontawesome.scss";
@import "../assets/fontawesome/scss/solid.scss";
@import "../assets/fontawesome/scss/brands.scss";
@import "../assets/fontawesome/scss/regular.scss";
@import "../assets/fontawesome/scss/light.scss";
//@import "intl-tel-input/build/css/intlTelInput.css";

/* @font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Light.ttf");
  // src: url('../assets/fonts/Poppins-Bold.ttf');
  // src: url('../assets/fonts/Poppins-Medium.ttf');
  // src: url('../assets/fonts/Poppins-Regular.ttf');
  // src: url('../assets/fonts/Poppins-SemiBold.ttf');
  // src: url('../assets/fonts/Poppins-Bold.ttf');

  font-weight: normal;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
$font-family-base: 'IBM Plex Sans', sans-serif !default;

//-------------------------------------
//   VARIABLES
//-------------------------------------
//COLORS
$colorPrimary: #E76114;
$colorPrimaryBackgroud: #E76114;
$colorWhite: white;
$colorNavButton: white;
$colorTextBlack: black;
$date-publication-community: #616161;
$color-icons-community: #13253b;
$name_community_user_red: #007DB1 !important;
$background-color-community-card: #efefef;
$color-backgroud-directory: #E7611461;
$color-icons-directory: #E76114;
// $text-input-highlight-color-valid: #32db64;
// $text-input-highlight-color-invalid:	#f53d3d;
// $text-input-placeholder-color:	#999;

//Opacity
$opacityText: 0.4;
$opacityTextNull: 1;
$opacity-87: 0.87;
$opacity-59: 0.59;
$opacuty-54: 0.54;
$opacity-38: 0.38;
$opacity-38: 0.8;

//size
$sizeFontTitle: 15px;
$font-size-icon-navbar: 1.5em;
$font-size-12: 12px;
$font-size-11: 11px;
$font-size-10: 10px;

//function module
.text-white {
  color: $colorWhite !important;
}
.color-primary {
  color: $colorPrimary;
}
.backgroud-img-primary {
  background-image: url("../assets/RECURSOS/MENU_LAT/img_menuLat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.user {
  @extend %fa-icon;
  @extend .fal;

  &:before {
    content: fa-content($fa-var-user);
  }
}
.times {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-times);
  }
}
.sign-out-alt {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-sign-out-alt);
  }
}
.camera {
  @extend %fa-icon;
  @extend .fal;

  &:before {
    content: fa-content($fa-var-camera);
  }
}
.long-arrow-left {
  @extend %fa-icon;
  @extend .fal;

  &:before {
    content: fa-content($fa-var-long-arrow-left);
  }
}
.list-ul {
  @extend %fa-icon;
  @extend .far;

  &:before {
    content: fa-content($fa-var-list-ul);
  }
}
.user-slash {
  @extend %fa-icon;
  @extend .fal;

  &:before {
    content: fa-content($fa-var-user-slash);
  }
}
.file-plus {
  @extend %fa-icon;
  @extend .fal;

  &:before {
    content: fa-content($fa-var-file-plus);
  }
}
.heart {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-heart);
  }
}
.flag {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-flag);
  }
}

.divisor-img {
  width: 70%;
}

.center-align-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//COLOR Backgroud-nav and color-text
.toolbar-background-md {
  background-color: $colorPrimaryBackgroud !important;
}
.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: $colorNavButton;
}
.opacity-null {
  opacity: $opacityTextNull;
}
.title-small-15 {
  font-size: $sizeFontTitle;
}
.font-size-icon-navbar {
  font-size: $font-size-icon-navbar;
}
.opacity-87 {
  opacity: $opacity-87;
}
.date-publication-community {
  color: $date-publication-community;
}

.color-icons-community {
  color: $color-icons-community;
}
.name_community_user_red {
  color: $name_community_user_red;
}
.background-color-community-card {
  background-color: $background-color-community-card;
}
.opacity-59 {
  opacity: $opacity-59;
}
.opacuty-54 {
  opacity: $opacuty-54;
}
.clor-black {
  color: $colorTextBlack;
}
.opacity-38 {
  opacity: $opacity-38;
}
.color-icons-directory {
  color: $color-icons-directory;
}
.opacity-38 {
  opacity: $opacity-38;
}
.pointer {
  cursor: pointer;
}
hr.divisor {
  width: 75%;
}
.font-size-12 {
  font-size: $font-size-12;
}
.font-size-10 {
  font-size: $font-size-10;
}
.font-size-11 {
  font-size: $font-size-11;
}


.bold {
  font-weight: 800;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1.8em;
  width: 1.8em;
  border-radius: 50%;
  box-shadow: 0 0 5px grey;
}
.image.position {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  height: 7em !important;
  width: 7em !important;
  border-radius: 50%;
  box-shadow: 0 0 5px grey;
}

.text-decorator {
  // margin-top: 5px;
  text-decoration: underline #fa4260;
}

ion-navbar {
  background-color: #E76114;
  //margin-bottom: 50px;
}

// not found icons - text
.no-results {
  text-align: center;
  color: rgba(148, 141, 141, 1) !important;
  position: absolute;
  font-size: 1.3rem;
  top: 0;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25% !important;
  font-weight: bold;
  margin-top: 180px !important;
}
.size-icon {
  color: rgba(148, 141, 141, 1) !important;
  text-align: center;
  // margin-top: 50px;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25% !important;
  margin-top: 70px !important;
}
.alerCtrlBtnPrimary {
  color: $colorPrimary !important;
}
.pointer {
  cursor: pointer;
}

.alertErrors {
  .alert-radio-icon{
    border-color: $colorPrimary !important;
  }
  .alert-radio-inner{
    background-color: $colorPrimary !important;
  }
  .alert-radio-label{
    color: $colorPrimary !important;
  }
  button {
    color: $colorPrimary !important;
  }
}

.btn-disabled {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}
//for DoRefres
ion-refresher-content {
  padding-top: 10px !important;
}

//END DoRefres
.ion-card-padding-content {
  padding-left: 15px !important;
}
// .input-cover {
//   padding-right: 8px;
//   border-bottom: 2px solid #dedede !important;
// }
.input-with-border {
  padding-right: 8px;
  border-bottom: 2px solid #dedede !important;
}

//INPUTS (ERROR)
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #fa1339 !important;
  -webkit-box-shadow: inset 0 -1px 0 0 #fa1339 !important;
  box-shadow: inset 0 -1px 0 0 #fa1339 !important;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus)
  .item-inner {
  border-bottom-color:transparent !important;
  -webkit-box-shadow: inset 0 -1px 0 0 #fa1339 !important;
  box-shadow: inset 0 -1px 0 0 #fa1339 !important;
}
.item-input-has-focus .label-md[floating],
.input-has-focus .label-md[floating] {
  color: #fa1339 !important;
}

.input-error-validation{
  //INPUTS (ERROR)
  color: #fa1339 !important;
}
.error-message {
  color: $name_community_user_red
}
.info-label-password {
  font-size: 1rem;
}
.validation-errors{
  text-align: left !important;
}
.introjs-helperLayer{
  background-color: rgba(255,255,255,.4);
}
.introjs-fixParent{
  z-index: 1 !important;
}

button#myProfile_btn{
  border-top: 0px solid #c8c7cc !important;
  border-bottom: 0px solid #c8c7cc !important;
}
ion-item#myItemNoBorder{
  border-bottom: 0px solid rgb(200, 199, 204) !important;
  border-top: 0px solid #c8c7cc !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  border-bottom-color: #dedede;
  -webkit-box-shadow: inset 0 -1px 0 0 #dedede;
  box-shadow: inset 0 -1px 0 0 #dedede;
}

.alert-md .alert-radio-group, .alert-md .alert-checkbox-group{
  max-height: 223px !important;
}
.toastNoPaid > div.toast-top{
  background: rgba(220, 53, 69, 1);
}
.scroll-zoom-wrapper .image{
  box-shadow: 0 0 5px transparent;
}
[_nghost-c1] .gallery-modal[_ngcontent-c1] .close-button[_ngcontent-c1]{
  top: auto !important;
  bottom: 3px !important;
}
[_nghost-c2] .fitted-image-title[_ngcontent-c2]{
  left: 48px !important;
  width: 88% !important;
}


.profile-image {
  object-fit: cover;
}

.calendar-label {
  color: #054C82;
  font-size: 16px;
  font-weight: bolder;
}

.calendar-value {
  color: #707070;
  font-weight: 300;
  font-size: 16px;
}

.card-background-page {
  background: url('/assets/RECURSOS/LOGIN/back_quintero.png');
  background-size: cover;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
  margin-top: 0;
}
ion-spinner {
  * {
    stroke: $colorPrimary !important;
  }

  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: $colorPrimary !important;
  }
}
