<ion-menu [content]="content">

  <ion-header padding class="backgroud-img-primary" color="primary" (click)="goToProfile()" menuClose>
    <div id="avatarImgSideMenu">
      <ion-avatar item-start>
        <img class="image position profile-image" [src]="me.avatar ? 'https://losquintero.club/images/' +  me.avatar : USER_DEFAULT" (error)="updateUrl(me)" style="height: 2.5em;width: 2.5em;">
      </ion-avatar>
      <p text-center class="text-white">
        {{ me.name }} {{ me.last_name }}
      </p>
    </div>
  </ion-header>

  <ion-content>
    <ion-list text-center padding-left no-lines>
      <!-- <button  class="margin-left-none" ion-item (click)="goToProfile()" menuClose no-border id="myProfile_btn">
        <i class="fal fa-user color-primary"></i>
          {{ 'DATA.SIDE_MENU.MY_PROFILE' | translate }}
      </button> -->
      <!--<button  class="margin-left-none" ion-item (click)="goToOCR()" menuClose no-border id="myProfile_btn">
        <i class="fal fa-camera color-primary" color="primaryBtn"></i>
      </button>-->
    </ion-list>

    <ion-footer no-shadow position="button" no-border>
    <ion-list padding-left style="margin: 0px !important">
      <ion-item no-padding id="myItemNoBorder">
        <label ion-item (click)="logout()" menuClose>
          <i class="fas fa-sign-out-alt color-primary" left></i>
          {{ 'DATA.SIDE_MENU.LOGOUT' | translate }}
        </label>
        <label ion-item menuClose  (click)="closeApp()" >
            <i class="far fa-times color-primary"></i>
            {{ 'DATA.SIDE_MENU.QUIT' | translate }}
        </label>
      </ion-item>
    </ion-list>
    <hr class="divisor">
    <ion-list text-center padding>
     <!--  <img  src="../assets/RECURSOS/MENU LAT/independence_logo1.png" width="100"> -->
    </ion-list>

      </ion-footer>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
