<ion-header>
  <ion-navbar *ngIf="!firstLogin" color="primaryNavHeader">
    <button ion-button menuToggle>
      <img src="../assets/RECURSOS/MENU/menu_icon.svg" width="30" />
    </button>
    <ion-title>
      <p class="text-white title-small-15">
        OCR
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<ng-progress [min]="0" [max]="1"></ng-progress>-->

  <button color="primaryBtn" ion-button full (click)="selectSource()">Select Image</button>
  <button color="primaryBtn" ion-button full (click)="recognizeImage()" [disabled]="!selectedImage">Recognize Image</button>

  <img [src]="selectedImage" *ngIf="selectedImage">

  <ion-card *ngIf="imageText">
    <ion-card-header>
      Image Text
    </ion-card-header>
    <ion-card-content>
      {{ imageText }}
    </ion-card-content>
  </ion-card>
</ion-content>
