
commentary {
  .list-ios{
    margin: -1px 0 5px !important;
  }
  .item-ios{
    background-color: #fff0 !important;
  }

  ion-content.content-md:not([padding]) .scroll-content {
    padding-bottom: 0 !important;
  }
  .scroll-content{
    //margin-top: 0px !important;
  }
  $stable: #f8f8f8 !default;

.scroll {
  padding: 10px 0 50px !important;
}
.item-md ion-avatar[item-start]{
  margin-right: 8px !important
}
.avatar-user{
  margin-right: 0px !important;
}
.ava-top{
  margin-top: 25px !important
}
.list-md, .label-md{
  margin: 0 !important
}
ion-item.item.item-block.item-md{
  padding-left: 0px !important;
  background-color: transparent !important;
}
.item-md.item-block .item-inner{
  padding-right: 0px;
}
.img-right{
  margin-top: 25px !important
}
p.txt-comment {
  margin: 0px !important;
}
.date-msj{
  margin-right: 0px !important;
  max-width: 100% !important;
  text-align: right;
  color: #a7a2a2 !important;
  font-size: 10px !important;
}
.avatar-comment-top{
  margin-top: 10px !important;
}
.date-msj-left{
  text-align: left !important;
  color: #a7a2a2 !important;
  font-size: 10px !important;
}
.messages {
  background-color: transparent !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
  .message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
  &.slide-right {
    -webkit-transform: translate3d(130px, 0, 0) !important;
    -moz-transform: translate3d(130px, 0, 0) !important;
    transform: translate3d(130px, 0, 0) !important;
  }
}
//This will change
.messages.other {
  .message {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
  }
  .message.slide-right {
    -webkit-transform: translate3d(120px, 0, 0) !important;
    -moz-transform: translate3d(120px, 0, 0) !important;
    transform: translate3d(120px, 0, 0) !important;
  }
  span {
    color: black !important;
    background-color: #C7C7CC !important;
  }
}
span.message {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 9px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
span.message-me {
  background: #ffffff !important;
  display: inline-block !important;
  color: black !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}



.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.9%;
  .chat-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #f9fbfc;
    .message-area {
      background-color: rgb(244, 244, 244) !important;
      max-height: 96%;
      height: 94%;
      overflow: auto;
      padding: 0px 10px 15px 10px;
      // padding: 15px 10px;
      .message {
        p {
          color: white;
          font-size: 13px;
          // font-weight: bold;
          margin: 0px;
          max-width: 100%;
          min-width: 55%;
          margin: 10px 0 0px 0px
        }
      }
      .message-me {
        p {
          color: black;
          font-size: 13px;
          // font-weight: bold;
          margin: 0px;
          max-width: 100%;
          min-width: 55%;
          margin: 5px 0;
        }
      }
      .message.incoming {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        p {
          color: white;
          border-radius: 0 11px 11px 11px;
          background: #B9C0E9;
        }
      }
      .message.outgoing {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        p {
          border-radius: 11px 11px 0 11px;
        }
      }
    }
    .emo-area {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      padding: 3px 10px;
    }
  }
  .item-ios{
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #c8c7cc !important;
  }
}

.input-area {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: white;
  border-top: 1px solid #b5b5b5;
  box-shadow: 1px -4px 15px 0px #c3c3c3;
  z-index: 999999;
  form {
    display: flex;
    height: 100%;


  }
  button {
      width: 14%;
      border: none;
      color: #8a898b;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: inherit;
      ion-icon {
        font-size: 3rem;
      }
    }
}
  .size-icon, .no-results{
    z-index: 999;
  }

  .list-ios > .item-block:first-child{
    border-top: 0px solid #c8c7cc !important;
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: 0px solid #c8c7cc !important;
  }
}
.aling-right{
  text-align: right !important;
}
