<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.COMMENTARY.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div [hidden]="comments">
        <ion-icon name="ios-chatbubbles" class="size-icon"></ion-icon>
        <p class="no-results">{{ "DATA.COMMENTARY.MESSAGE_NO_COMMENTS" | translate }}</p>
      </div>
  <div class="main">
    <div class="chat-box">
      <div class="message-area"  id="messageArea" #messageArea>

        <div *ngFor="let item of comments" class="message" >
          <ion-list>

            <ion-item *ngIf="item.it_users_id != this.me_user.id" no-lines>
              <ion-avatar item-start>
                  <img [src]="item.img ? API.API_URL +  '/' + item.img : DEFAULT_IMG" width="30" class="avatar-comment-top profile-image" onError="this.src='../../assets/user_default.jpg';">
                <!-- <img [src]="item.img ? API.API_URL +  '/' + img : DEFAULT_IMG"> -->
              </ion-avatar>
              <span>
                  <p class="date-msj-left" right item-right item-top top>{{ item.time_ago }}</p>
              </span>
              <span class="message">
                <h5 style="font-size: 1rem !important"><b>{{item.user}}</b></h5>
                <p text-wrap class="txt-comment">{{item.comment}}</p>
              </span>
            </ion-item>

            <ion-item *ngIf="item.it_users_id == this.me_user.id" class="aling-right" no-lines>
              <ion-avatar item-end class="avatar-user">
                <img class="img-right ava-top" [src]="item.img ? API.API_URL +  '/' + item.img : DEFAULT_IMG">
              </ion-avatar>
              <span>
                <p right item-right item-top top class="date-msj">{{ item.time_ago }}</p>
              </span>
              <span text-wrap class="message-me" style="text-align: right">
                <p text-wrap class="txt-comment">{{item.comment}}</p>
              </span>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="input-area">
        <!-- <ion-row>
            <ion-col col-10>
                <ion-textarea
                #myInput
                id="myInput"
                placeholder="{{ 'DATA.COMMENTARY.SEND_COMENTARY' | translate }}"
                maxlength="150"
                rows="1"
                (keyup)="resize()"
                [(ngModel)]="message_text"
              ></ion-textarea>
            </ion-col>
            <ion-col col-2>
                <button (click)="saveComment()">
                    <ion-icon name="paper-plane"></ion-icon>
                  </button>
            </ion-col>
          </ion-row> -->

       <form name="messageForm" #messageForm="ngForm">

        <ion-input type="text" placeholder="{{ 'DATA.COMMENTARY.SEND_COMENTARY' | translate }}" name="message" #myInput
        id="myInput" color="light" [(ngModel)]="message_text" color="dark" (ionBlur)="checkBlur()" maxlength="100"
        (ionFocus)="checkFocus()" ></ion-input>
        <button (click)="saveComment()" [ngClass]="{'btn-disabled': !message_text}">
          <ion-icon name="paper-plane"></ion-icon>
        </button>
      </form>
    </div>
    </div>
  </div>

</ion-content>

<!-- <ion-content>
    <p [hidden]="comments">
        {{ "DATA.COMMENTARY.MESSAGE_NO_COMMENTS" | translate }}
      </p>
    <ion-list>
      <ion-item *ngFor="let chat of comments" no-lines>
        <div class="chat-status" text-center *ngIf="chat.type==='join' || chat.type==='exit'; else message">
          <span class="chat-date">{{ item.time_ago }}</span>
          <span class="chat-content-center">{{chat.comment.comment}}</span>
        </div>
        <ng-template #message>
          <div class="chat-message" text-right>
            <div class="right-bubble">
              <span class="msg-name">Me</span>
              <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
              <p text-wrap>{{chat.comment.comment}}</p>
            </div>
          </div>
          <div class="chat-message" text-left >
            <div class="left-bubble">
              <span class="msg-name">{{chat.user}}</span>
              <span class="msg-date">{{chat.sendDate | date:'short'}}</span>
              <p text-wrap>{{chat.comment.comment}}</p>
            </div>
          </div>
        </ng-template>
      </ion-item>
    </ion-list>
  </ion-content> -->


<!-- <ion-footer>
  <ion-item>
    <ion-label floating>{{ "DATA.COMMENTARY.INPUT_MESSAGE" | translate }}</ion-label>
    <ion-input type="text"></ion-input>
    <div class="button-inner pipe"></div>
    <button item-right ion-button color="dark" clear large clear clearInput (click)="comments">
      <ion-icon ios="ios-send" md="md-send" color="dark"></ion-icon>
    </button>
  </ion-item>
</ion-footer> -->
<!--
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <button item-right ion-button color="dark" clear large clear clearInput (click)="comments">
          <ion-icon name="paper-plane"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
