<ion-header>

  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ 'DATA.BLOG.COMPONENTS.CATEGORIES.MESSAGE_TITLE' | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="goToHome()" >
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">{{ 'DATA.BLOG.COMPONENTS.CATEGORIES.SELECT_CATEGORY' | translate }}</ion-item-divider>
    <span *ngIf="NOT_FOUND">
        <div>
        <!-- [hidden]="!showNotContacts" -->
        <ion-icon name="search" class="size-icon"></ion-icon>
        <p class="no-results">
          {{ "DATA.BLOG.MESSAGES.WITHOUT_SEARCH" | translate }}
        </p>
      </div>
    </span>
    <ion-item-divider *ngFor="let item of itemsCategories" (click)="sendData($event, item)" [ngClass]="{'selected-category': this.category == item.id}" >
      <div class="circle-color" [ngStyle]="{'background-color': '#'+item.color}"></div>
      <span class="name">{{ item.name }}</span>
      <span float-right>></span>
      <span class="icon-total" float-right>{{ item.news_cant }}</span>
    </ion-item-divider>
  </ion-item-group>
</ion-content>
