blog-category {
    .name{
        margin-left: 30px
    }
    .icon-total{
        background-color: #bfbfbf;
        border-radius: 50%;
        height: 23px;
        width: 22px;
        text-align: center;
        font-size: 13px;
        color: #FFFF;
        padding-top: 2px;
        margin-right: 13px;
    }

  ion-buttons.bar-buttons.bar-buttons-md{
    padding-right: 10px;
  }
  .selected-category{
    background-color: rgba(81, 0, 113, 0.2);
    color: #E76114;
    cursor: default;
    opacity: .6;
    pointer-events: none;
  }
}
