<!--
  Generated template for the GenealogiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        LOS QUINTERO
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
    <img
      style="object-fit: cover; width: 120px; height: 120px; margin: 0 auto 2em; display: block; border: 1px solid #E76114; border-radius: 50%; margin-bottom: 1em;"
      onError="this.src='../../assets/user_default.jpg';"
      [src]="'https://losquintero.club/images/' + data?.avatar"
    />
    <div *ngIf="isLoading" style="text-align: center; color: #E76114; display: flex; align-items: center; width: 100%; justify-content: center">
        <ion-spinner color="danger"></ion-spinner>
        <span style="margin-left: 10px">Cargando...</span>
    </div>
    <div style="text-align: center; margin-bottom: 1em; color: #E66014; font-weight: bold; font-size: 16px">{{ data?.name }} {{data?.last_name}}</div>
    <ion-item *ngIf="data?.quedp">
        <ion-avatar item-start>
            <i class="far fa-cross" style="font-size: 35px; color: #767575"></i>
        </ion-avatar>
        <h2>QEDP</h2>
        <h3>{{data.quedp}}</h3>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let dad of data?.mydad" (click)="goParent(dad.id)">
        <ion-avatar item-start>
            <i class="far fa-male" style="font-size: 35px; color: #767575"></i>
        </ion-avatar>
        <h2>{{ dad.name }} {{ dad.last_name}}</h2>
        <h3>Padre</h3>
      </ion-item>
      <ion-item *ngFor="let mom of data?.mymom" (click)="goParent(mom.id)">
        <ion-avatar item-start>
            <i class="far fa-female" style="font-size: 35px; color: #767575"></i>
        </ion-avatar>
        <h2>{{ mom.name }} {{ mom.last_name}}</h2>
        <h3>Madre</h3>
      </ion-item>
      <ion-item *ngFor="let couple of data?.mycouple" (click)="goParent(couple.id)">
          <ion-avatar item-start  style="font-size: 25px; color: #767575">
              <svg width="25" aria-hidden="true" focusable="false" data-prefix="far" data-icon="rings-wedding" class="svg-inline--fa fa-rings-wedding fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M371.94 163.7a222.3 222.3 0 0 1 22.43 59C435.52 244.05 464 286.55 464 336a128 128 0 0 1-256 0c0-54.66 34.52-101.17 82.85-119.44A126.49 126.49 0 0 1 304 272c0 37.37-16.38 70.73-42 94.15a80.3 80.3 0 0 0 31 37 175.71 175.71 0 0 0-46.33-292.3L288 44.66 232.53 0H119.47L64 44.66l41.29 66.23A176 176 0 0 0 176 448a164 164 0 0 0 22.86-1.82A176 176 0 1 0 371.94 163.7zM128 55.34l8.53-7.34h78.94l8.53 7.34-25.47 42.26a160 160 0 0 0-45.06 0zM48 272a128.14 128.14 0 0 1 128-128c33 0 62.87 12.91 85.6 33.51-59.88 28-101.6 88-101.6 158.49a175.18 175.18 0 0 0 12 63.6C103.33 397.45 48 341.22 48 272z"></path></svg>
          </ion-avatar>
          <h2>{{ couple.name }} {{ couple.last_name}}</h2>
          <h3>Espos@</h3>
      </ion-item>
      <ion-item *ngFor="let son of data?.mysons" (click)="goParent(son.id)">
        <ion-avatar item-start>
            <i class="far fa-child" style="font-size: 35px; color: #767575"></i>
        </ion-avatar>
        <h2>{{ son.name }} {{ son.last_name}}</h2>
        <h3>Hij@</h3>
      </ion-item>
  </ion-list>
</ion-content>
  