<!--
  Generated template for the DigitalCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primaryNavHeader">
        <ion-title>
          <p class="text-white title-small-15">{{ 'DATA.DIGITAL_CARD.MESSAGE_TITLE' | translate }}</p>
        </ion-title>
      </ion-navbar>
</ion-header>

<ion-content>
  <ion-tabs class="mdc-tabs-backgroud" tabsPlacement="button" color="subHeader">
    <ion-tab [root]="tab1Root" tabTitle="{{ 'DATA.DIGITAL_CARD.TABS.SEND.MESSAGE_TITLE' | translate }}" tabIcon="md-send"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="{{ 'DATA.DIGITAL_CARD.TABS.SAVED.MESSAGE_TITLE' | translate }}"  tabIcon="md-cloud-done"></ion-tab>
  </ion-tabs>
</ion-content>


