@import "../../app/app.scss";
page-digital-card {
  .mdc-tabs-backgroud{
    background-color: red !important;
  }
  .tabs-md-subHeader .tabbar{
    padding-top: 4px !important;
  }
  .bottom{
    margin-bottom: 69px;
  }
}
