page-calendar {
    .calendar_header {
        background: #1F2A49;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 16px;
        align-items: center;
        padding: 15px 30px;
        font-weight: 300;

        .fa-plus {
            display: inline-block;
        }
        .fa-minus {
            display: none;
        }

    }
    
    .dropup {
        .fa-plus {
            display: none;
        }
        .fa-minus {
            display: inline-block;
        }
    }

    .content_calendar {
        padding: 0 25px;
    }

    .calendar-link {
        color: #E76114;
        font-size: 12px;
        font-weight: 300;
        text-decoration: underline;
    }
}
