<!--
  Generated template for the CalendarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
          {{ "DATA.CALENDAR.CALENDAR_TITLE" | translate }}
      </p>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isLoading" style="text-align: center; color: #E76114; display: flex; align-items: center; width: 100%; justify-content: center">
      <ion-spinner color="danger"></ion-spinner>
      <span style="margin-left: 10px">Cargando...</span>
  </div>
  <accordion [showArrows]="true" [closeOthers]="true" [expandAll]="false">
      <accordion-group *ngFor="let item of calendarData">
          <accordion-heading>
            <div class="calendar_header">
              <div>{{ item.description }}</div>
              <div>
                <i class="fa fa-plus"></i>
                <i class="fa fa-minus"></i>
              </div>
            </div>
          </accordion-heading>
          <div class="content_calendar">
              <ion-grid *ngFor="let cEvent of item.schedules">
                <ion-row>
                  <ion-col col-4>
                    <span class="calendar-label">{{ cEvent.time }}</span>
                  </ion-col>
                  <ion-col col-8>
                    <span class="calendar-value">{{ cEvent.item }}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-4>
                    <span class="calendar-label">{{ cEvent.info }}</span>
                  </ion-col>
                  <ion-col col-8>
                    <span class="calendar-value">{{ cEvent.extra }}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <a class="calendar-link" (click)="goDetail(cEvent)">{{ "DATA.CALENDAR.CALENDAR_DETAIL" | translate }}</a>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </div>
      </accordion-group>
  </accordion>
</ion-content>
