<!--
  Generated template for the GenealogiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        LOS QUINTERO
      </p>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="card-background-page">
    <ion-searchbar placeholder="Buscar" (ionInput)="handleSearch($event)"></ion-searchbar>
    <div *ngIf="isLoading" style="text-align: center; color: #E76114; display: flex; align-items: center; width: 100%; justify-content: center">
        <ion-spinner color="danger"></ion-spinner>
        <span style="margin-left: 10px">Cargando...</span>
    </div>
    <ion-list>
        <ion-item (click)="openDetail(item.id)" *ngFor="let item of data">
          <ion-avatar item-start>
            <img style="object-fit: cover" onError="this.src='../../assets/user_default.jpg';" [src]="'https://losquintero.club/images/' + item.avatar">
          </ion-avatar>
          <h2>{{item.name}} {{item.last_name}}</h2>
        </ion-item>
    </ion-list>
</ion-content>
