<ion-content>
  <ion-slides pager>

    <ion-slide class="slides-welcome">
      <button class="btn-skip" ion-button clear color="primaryBtn" (click)="closeSlides(1)">{{ 'DATA.LOGIN.SLIDES.SKIP' | translate }}</button>
      <img class="img-welcome" src="../../assets/RECURSOS/BIENVENIDA/digitalCard.svg" >
      <h2>{{ 'DATA.LOGIN.SLIDES.MDC.TITLE' | translate }}</h2>
      <p padding-left padding-right >{{ 'DATA.LOGIN.SLIDES.MDC.MESSAGE' | translate }}</p>
      <button ion-button clear color="primaryBtn" (click)="nextSlide()">{{ 'DATA.LOGIN.SLIDES.NEXT' | translate }} &nbsp;<ion-icon md="md-arrow-forward"></ion-icon></button>
    </ion-slide>

    <ion-slide class="slides-welcome">
      <button class="btn-skip" ion-button clear color="primaryBtn" (click)="closeSlides(1)">{{ 'DATA.LOGIN.SLIDES.SKIP' | translate }}</button>
      <img class="img-welcome" src="../../assets/RECURSOS/BIENVENIDA/community.svg" >
      <h2>{{ 'DATA.LOGIN.SLIDES.COMMUNITY.TITLE' | translate }}</h2>
      <p padding-left padding-right >{{ 'DATA.LOGIN.SLIDES.COMMUNITY.MESSAGE' | translate }}</p>
      <button ion-button clear color="primaryBtn" (click)="nextSlide()">{{ 'DATA.LOGIN.SLIDES.NEXT' | translate }} &nbsp;<ion-icon md="md-arrow-forward"></ion-icon></button>
    </ion-slide>

    <ion-slide class="slides-welcome">
      <button class="btn-skip" ion-button clear color="primaryBtn" (click)="closeSlides(1)">{{ 'DATA.LOGIN.SLIDES.SKIP' | translate }}</button>
      <img class="img-welcome" src="../../assets/RECURSOS/BIENVENIDA/blog.svg" >
      <h2>{{ 'DATA.LOGIN.SLIDES.BLOG.TITLE' | translate }}</h2>
      <p padding-left padding-right >{{ 'DATA.LOGIN.SLIDES.BLOG.MESSAGE' | translate }}</p>
      <button ion-button clear outline color="primaryBtn" (click)="nextSlide()">{{ 'DATA.LOGIN.SLIDES.NEXT' | translate }} &nbsp;<ion-icon md="md-arrow-forward"></ion-icon></button>
    </ion-slide>

    <ion-slide class="slides-welcome">
      <img class="img-welcome" src="../../assets/RECURSOS/BIENVENIDA/directory.svg" >
      <h2>{{ 'DATA.LOGIN.SLIDES.DIRECTORY.TITLE' | translate }}</h2>
      <p padding-left padding-right >{{ 'DATA.LOGIN.SLIDES.DIRECTORY.MESSAGE' | translate }}</p>
      <button ion-button color="primaryBtn" (click)="closeSlides(1)">{{ 'DATA.LOGIN.SLIDES.START' | translate }}</button>
    </ion-slide>

  </ion-slides>
</ion-content>
