page-welcome {
  .slides-welcome{
    background-color: #f4f4f4;
  }
  .swiper-pagination-bullet-active{
    background: $colorPrimary
  }
  .btn-skip{
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .img-welcome{
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }
}
