register {
  .link-inicia {
    margin-top: -10px;
  }

  .my-div-action-google {
    // padding-top: 5px;
    background-color: rgba(88, 88, 88, 0.11);
    width: 100%;
    height: 2.4em !important;
    font-weight: 800;
    margin-bottom: 14px;
  }

  .btn-detail {
    padding-top: 3px;
  }
  ion-card {
    border: none !important;
    // webkit-box-shadow: none;
    box-shadow: none !important;
  }
  .padding-content {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .btn-register {
    margin-bottom: 20px;
  }
  .item-md{
    padding-left: 0px !important;
  }
  .officeButton {
    text-align: center;
    background: #EBEDF2;
    font-size: 16;
    padding: 6px;
    color: #3B3A3E;
    display: flex;
    align-items: center;

    img {
      height: 26px;
      margin-right: 0.5rem;
    }
  }
}
.platform-ios {
  ng-component register {
    ion-item{
      padding-left: 0px !important;
    }
  }
}
