<ion-header>
    <ion-navbar color="primaryNavHeader">
      <ion-title>
        <p class="text-white title-small-15">
          {{ "DATA.REGISTER.MESSAGE_TITLE" | translate }}
        </p>
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <div text-center padding>
      <p class="font-size-14">
        <b>{{ "DATA.REGISTER.SIGNUP" | translate }}</b>
      </p>
      <div text-center>
        <p class="font-size-12" padding-left padding-right>
          {{ "DATA.REGISTER.ALREADY_MESSAGE" | translate }}
        </p>
        <a class="link-inicia" href="http://mydigitalcard.us/#pricing">
          <b
            class="font-size-10 name_community_user_red text-decorator"
            >{{ "DATA.REGISTER.LOGIN" | translate }}</b
          >
        </a>
        <div text-center padding-top padding-left padding-right>
          <button text-capitalize
            ion-button
            block class="officeButton" (click)="aadLogin()"><img src="/assets/365.png" /> Usa Office 365</button>
        </div>
        <div>
          <span>{{ "DATA.REGISTER.OR" | translate }}</span>
        </div>
        <ion-card no-shadow color="transparent-login">
          <span class="font-size-12 bold">{{
            "DATA.REGISTER.TITLE_EMAIL" | translate
          }}</span>
        </ion-card>
        <div text-cente class="link-inicia" *ngIf="email_val || first_name_val || last_name_val || password || company" >
          <p (click)="resetProccess()" ><b class="font-size-10 name_community_user_red text-decorator">{{ "DATA.REGISTER.RESET" | translate }}</b></p>
        </div>
        <div text-center [formGroup]="formRegister">
          <ion-item>
            <ion-label floating class="font-size-12" color="{{ formRegister.controls.email.errors && formRegister.controls.email.dirty ? 'danger' : '' }}">{{
              "DATA.REGISTER.EMAIL_ADDRESS" | translate
            }}</ion-label>
            <ion-input [(ngModel)]="email_val" type="email" class="font-size-12" color=""  formControlName="email" [ngClass]="{'btn-disabled': type_register == 'S'}"  (keyup)="onKey()" [ngClass]="{'input-error-validation': formRegister.controls.email.errors && formRegister.controls.email.dirty }" ></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email" >
              <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('email').hasError(validation.type) && (formRegister.get('email').dirty || formRegister.get('email').touched)">
            {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating class="font-size-12" color="">{{
              "DATA.REGISTER.FIRST_NAME" | translate
            }}</ion-label>
            <ion-input type="text" class="font-size-12" color=""  formControlName="first_name" [(ngModel)]="first_name_val"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.first_name" >
              <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('first_name').hasError(validation.type) && (formRegister.get('first_name').dirty || formRegister.get('first_name').touched)">
            {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating class="font-size-12" color="">{{
              "DATA.REGISTER.LAST_NAME" | translate
            }}</ion-label>
            <ion-input type="text" class="font-size-12" color=""  formControlName="last_name" [(ngModel)]="last_name_val"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.last_name" >
              <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('last_name').hasError(validation.type) && (formRegister.get('last_name').dirty || formRegister.get('last_name').touched)">
            {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label floating class="font-size-12" color="">{{
              "DATA.REGISTER.COMPANY" | translate
            }}</ion-label>
            <ion-input type="text" class="font-size-12" color=""  formControlName="company" [(ngModel)]="company" ></ion-input>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.company" >
                <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('company').hasError(validation.type) && (formRegister.get('company').dirty || formRegister.get('company').touched)">
              {{ validation.message }}
                </div>
              </ng-container>
            </div>

          <ion-item *ngIf="type_register != 'S'" >
            <ion-label floating class="font-size-12" color="">{{ "DATA.REGISTER.PASSWORD" | translate }}</ion-label>
            <ion-input [type]="passwordType" class="font-size-12" color=""  formControlName="password" [(ngModel)]="password" ></ion-input>
            <button ion-button clear item-end (click)='hideShowPassword()' style="height:32px;" color="primaryBtn">
              <ion-icon [name]="passwordIcon" class="passwordIcon" style="font-size:32px;margin-top: 13px;"></ion-icon>
            </button>
          </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password" >
                  <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('password').hasError(validation.type) && (formRegister.get('password').dirty || formRegister.get('password').touched)">
                {{ validation.message }}
                  </div>
                </ng-container>
              </div>
          <br />
          <ion-row>
            <ion-col col-2 >
                <ion-list no-lines>
                  <ion-item>
                    <ion-checkbox color="primaryBtn" item-start formControlName="agree"></ion-checkbox>
                  </ion-item>
                </ion-list>
            </ion-col>
            <ion-col col-10  text-justify>
                <span item-end class="font-size-12">
                    {{ "DATA.REGISTER.TEXT_PART_1" | translate }}
                  <a class="name_community_user_red" (click)="goToLink()">{{"DATA.REGISTER.TEXT_PART_2" | translate}}</a>
                  {{ "DATA.REGISTER.TEXT_PART_3" | translate }}
                  <a class="name_community_user_red" (click)="goToLink()"
                    >{{ "DATA.REGISTER.TEXT_PART_4" | translate }}.</a
                  ></span>
            </ion-col>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.agree" >
                  <div class="error-message" style="font-size: 1rem !important;" *ngIf="formRegister.get('agree').hasError(validation.type) && (formRegister.get('agree').dirty || formRegister.get('agree').touched)">
                {{ validation.message }}
                  </div>
                </ng-container>
                <br>
              </div>
          </ion-row>


          <div class="btn-register">
            <button
              text-capitalize
              ion-button
              block
              color="primaryBtn"
              class="font-size-12"
              (click)="saveUser()"
            >
              {{ "DATA.REGISTER.BTN_CREATE_ACCOUT" | translate }}
            </button>
          </div>

          <p class="font-size-12">
            <span class="text-span">{{
              "DATA.REGISTER.LOGIN_MESSAGE" | translate
            }}</span>
            <b
              class="name_community_user_red text-decorator"
              (click)="goToBack()"
              >{{ "DATA.REGISTER.BTN_LOGIN" | translate }}</b
            >
          </p>
        </div>
      </div>
    </div>
  </ion-content>
