<ion-header>
  <ion-navbar color="primaryNavHeader">
    <ion-title>
      <p class="text-white title-small-15">
        {{ "DATA.COMMUNITY.COMPONENTS.BLOKED_USERS.MESSAGE_TITLE" | translate }}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only end (click)="goToHome()" >
        <i class="fal fa-home font-size-icon-navbar"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="none"
          pullingText="{{ 'DATA.PULL_TO_REFRESH.PULL_TO_REFRESH_MESSAGE' | translate}}"
          refreshingSpinner="circles"
        ></ion-refresher-content>
      </ion-refresher>
  <span [hidden]="bloked_useres.length > 0">
    <div>
      <ion-icon  name="search" class="size-icon"></ion-icon>
      <p class="no-results">
        {{ "DATA.COMMUNITY.COMPONENTS.BLOKED_USERS.NO_BLOKED_USERS" | translate }}
      </p>
    </div>
  </span>

  <ion-item *ngFor="let item of bloked_useres">
    <ion-avatar item-start>
      <img [src]="item.user_blocked.avatar ? AUTH.API_URL + '/' + item.user_blocked.avatar : USER_DEFAULT"
        width="30"
        class="image profile-image"
        onError="this.src='../../assets/user_default.jpg';"/>
    </ion-avatar>
    <h2 text-wrap>{{ (item.user_blocked.name) ? item.user_blocked.name : '' }} {{ item.user_blocked.last_name }}</h2>
    <button ion-button item-end color="primaryBtn" text-capitalize (click)="unlockUser(item.user_blocked)">
      <ion-icon name="unlock"></ion-icon> &nbsp;{{ "DATA.COMMUNITY.COMPONENTS.BLOKED_USERS.UNLOCK" | translate }}
    </button>
  </ion-item>

</ion-content>
